<a href="https://colab.research.google.com/github/TonyLiu836/NBA_MVP_Predictor/blob/main/NBA.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
!pip install nba_api
!pip install requests

Requirement already satisfied: nba_api in c:\users\leon\anaconda3\lib\site-packages (1.1.11)
Requirement already satisfied: requests in c:\users\leon\anaconda3\lib\site-packages (from nba_api) (2.25.1)
Requirement already satisfied: idna<3,>=2.5 in c:\users\leon\anaconda3\lib\site-packages (from requests->nba_api) (2.10)
Requirement already satisfied: chardet<5,>=3.0.2 in c:\users\leon\anaconda3\lib\site-packages (from requests->nba_api) (4.0.0)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\leon\anaconda3\lib\site-packages (from requests->nba_api) (1.26.4)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\leon\anaconda3\lib\site-packages (from requests->nba_api) (2020.12.5)
Requirement already satisfied: requests in c:\users\leon\anaconda3\lib\site-packages (2.25.1)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\leon\anaconda3\lib\site-packages (from requests) (2020.12.5)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\leon\anaconda3\lib\site-packages (from requests) (1.26.4)
Requirement already satisfied: idna<3,>=2.5 in c:\users\leon\anaconda3\lib\site-packages (from requests) (2.10)
Requirement already satisfied: chardet<5,>=3.0.2 in c:\users\leon\anaconda3\lib\site-packages (from requests) (4.0.0)

In [2]:
import pandas as pd

### Data Collection

In [54]:
from nba_api.stats.endpoints import teamplayerdashboard
from nba_api.stats.endpoints import leaguedashteamstats
from nba_api.stats.endpoints import playerdashboardbyyearoveryear

# Get list of teams that played in a season
leagueteams = leaguedashteamstats.LeagueDashTeamStats(season='2020-21')
teams = leagueteams.get_data_frames()[0]
team_list = teams.loc[:, ['TEAM_ID','TEAM_NAME']]
print(team_list.to_markdown(), '\n')

def get_teams(start_year):
    end_year = (start_year + 1) % 100
    leagueteams = leaguedashteamstats.LeagueDashTeamStats(season=f'{start_year}-{end_year:02}')
    teams = leagueteams.get_data_frames()[0]
    return teams.loc[:, 'TEAM_ID']


# Get list of players that played in a season
bulls_id = teams.at[4, 'TEAM_ID']
teamplayers = teamplayerdashboard.TeamPlayerDashboard(bulls_id, season='2020-21')
players = teamplayers.get_data_frames()[1]
good_players = players[players.loc[:,'MIN'] > 800]
players_list = good_players.loc[:, ['PLAYER_ID', 'PLAYER_NAME']]
print(players_list.to_markdown(), '\n')

def get_players(team_id, start_year):
    end_year = (start_year + 1) % 100
    teamplayers = teamplayerdashboard.TeamPlayerDashboard(team_id, season=f'{start_year}-{end_year:02}')
    players = teamplayers.get_data_frames()[1]
    good_players = players[players.loc[:,'MIN'] > 800]
    return good_players.loc[:, ['PLAYER_ID', 'PLAYER_NAME']]

# Get player stats for a season
vuc_id = good_players.at[13, 'PLAYER_ID']
playerdashboard = playerdashboardbyyearoveryear.PlayerDashboardByYearOverYear(vuc_id, per_mode_detailed='PerGame')
stats = playerdashboard.get_data_frames()[1]
seasonstats = stats[stats['GROUP_VALUE'] == '2020-21']
print(seasonstats.columns)
print(seasonstats.loc[:, ['GROUP_VALUE', 'TEAM_ABBREVIATION', 'GP', 'W', 'L', 'W_PCT', 'MIN', 'FGM', 'FGA', 'FG_PCT',
       'FG3M', 'FG3A', 'FG3_PCT', 'FTM', 'FTA', 'FT_PCT',
       'REB', 'AST', 'TOV', 'STL', 'BLK', 'PTS',
       'PLUS_MINUS']])

def get_player_stats(player_id, start_year):
    end_year = (start_year + 1) % 100
    playerdashboard = playerdashboardbyyearoveryear.PlayerDashboardByYearOverYear(player_id, per_mode_detailed='PerGame')
    stats = playerdashboard.get_data_frames()[1]
    seasonstats = stats[stats['GROUP_VALUE'] == f'{start_year}-{end_year:02}']
    seasonstats.drop(columns=['GROUP_SET', 'MAX_GAME_DATE', 'CFID', 'CFPARAMS'])
    return seasonstats

|    |    TEAM_ID | TEAM_NAME              |
|---:|-----------:|:-----------------------|
|  0 | 1610612737 | Atlanta Hawks          |
|  1 | 1610612738 | Boston Celtics         |
|  2 | 1610612751 | Brooklyn Nets          |
|  3 | 1610612766 | Charlotte Hornets      |
|  4 | 1610612741 | Chicago Bulls          |
|  5 | 1610612739 | Cleveland Cavaliers    |
|  6 | 1610612742 | Dallas Mavericks       |
|  7 | 1610612743 | Denver Nuggets         |
|  8 | 1610612765 | Detroit Pistons        |
|  9 | 1610612744 | Golden State Warriors  |
| 10 | 1610612745 | Houston Rockets        |
| 11 | 1610612754 | Indiana Pacers         |
| 12 | 1610612746 | LA Clippers            |
| 13 | 1610612747 | Los Angeles Lakers     |
| 14 | 1610612763 | Memphis Grizzlies      |
| 15 | 1610612748 | Miami Heat             |
| 16 | 1610612749 | Milwaukee Bucks        |
| 17 | 1610612750 | Minnesota Timberwolves |
| 18 | 1610612740 | New Orleans Pelicans   |
| 19 | 1610612752 | New York Knicks        |
| 20 | 1610612760 | Oklahoma City Thunder  |
| 21 | 1610612753 | Orlando Magic          |
| 22 | 1610612755 | Philadelphia 76ers     |
| 23 | 1610612756 | Phoenix Suns           |
| 24 | 1610612757 | Portland Trail Blazers |
| 25 | 1610612758 | Sacramento Kings       |
| 26 | 1610612759 | San Antonio Spurs      |
| 27 | 1610612761 | Toronto Raptors        |
| 28 | 1610612762 | Utah Jazz              |
| 29 | 1610612764 | Washington Wizards     |

|    |   PLAYER_ID | PLAYER_NAME      |
|---:|------------:|:-----------------|
|  3 |     1629632 | Coby White       |
|  7 |     1627756 | Denzel Valentine |
|  9 |      202066 | Garrett Temple   |
| 11 |     1628374 | Lauri Markkanen  |
| 13 |      202696 | Nikola Vucevic   |
| 15 |     1630172 | Patrick Williams |
| 17 |      201152 | Thaddeus Young   |
| 18 |      203107 | Tomas Satoransky |
| 21 |      203897 | Zach LaVine      |

Index(['GROUP_SET', 'GROUP_VALUE', 'TEAM_ID', 'TEAM_ABBREVIATION',
       'MAX_GAME_DATE', 'GP', 'W', 'L', 'W_PCT', 'MIN', 'FGM', 'FGA', 'FG_PCT',
       'FG3M', 'FG3A', 'FG3_PCT', 'FTM', 'FTA', 'FT_PCT', 'OREB', 'DREB',
       'REB', 'AST', 'TOV', 'STL', 'BLK', 'BLKA', 'PF', 'PFD', 'PTS',
       'PLUS_MINUS', 'NBA_FANTASY_PTS', 'DD2', 'TD3', 'GP_RANK', 'W_RANK',
       'L_RANK', 'W_PCT_RANK', 'MIN_RANK', 'FGM_RANK', 'FGA_RANK',
       'FG_PCT_RANK', 'FG3M_RANK', 'FG3A_RANK', 'FG3_PCT_RANK', 'FTM_RANK',
       'FTA_RANK', 'FT_PCT_RANK', 'OREB_RANK', 'DREB_RANK', 'REB_RANK',
       'AST_RANK', 'TOV_RANK', 'STL_RANK', 'BLK_RANK', 'BLKA_RANK', 'PF_RANK',
       'PFD_RANK', 'PTS_RANK', 'PLUS_MINUS_RANK', 'NBA_FANTASY_PTS_RANK',
       'DD2_RANK', 'TD3_RANK', 'CFID', 'CFPARAMS'],
      dtype='object')
  GROUP_VALUE TEAM_ABBREVIATION  GP   W   L  W_PCT   MIN  FGM   FGA  FG_PCT  \
1     2020-21               TOT  70  26  44  0.371  33.5  9.5  19.9   0.477
2     2020-21               CHI  26  11  15  0.423  32.6  8.8  18.8   0.471
3     2020-21               ORL  44  15  29  0.341  34.1  9.9  20.6   0.480

   ...  FTM  FTA  FT_PCT   REB  AST  TOV  STL  BLK   PTS  PLUS_MINUS
1  ...  1.9  2.2   0.840  11.7  3.8  1.8  0.9  0.7  23.4        -4.9
2  ...  1.5  1.8   0.870  11.5  3.9  1.7  0.9  0.8  21.5        -2.4
3  ...  2.1  2.5   0.827  11.8  3.8  1.9  1.0  0.6  24.5        -6.3

[3 rows x 23 columns]

In [ ]:
import pandas as pd
from nba_api.stats.endpoints import teamplayerdashboard
from nba_api.stats.endpoints import leaguedashteamstats

data = []
for start_year in range(1996, 2022):
    print(start_year)
    leagueteams = get_teams(start_year)
    for team_id in leagueteams:
        players = get_players(team_id, start_year)
        for player in players.itertuples():
            print(player)
            stats = get_player_stats(player[1], start_year)
            print(stats)
            stats.insert(0, "PLAYER_NAME", player[2])
            data.append(stats)

1996
Pandas(Index=2, PLAYER_ID=363, PLAYER_NAME='Christian Laettner')
   GROUP_SET GROUP_VALUE     TEAM_ID TEAM_ABBREVIATION        MAX_GAME_DATE  \
10   By Year     1996-97  1610612737               ATL  1997-04-20T00:00:00

    GP   W   L  W_PCT   MIN  ...  BLKA_RANK  PF_RANK  PFD_RANK  PTS_RANK  \
10  82  56  26  0.683  38.2  ...          1        2         5         1

    PLUS_MINUS_RANK  NBA_FANTASY_PTS_RANK  DD2_RANK  TD3_RANK  CFID  CFPARAMS
10                1                     1         1         1   264   1996-97

[1 rows x 65 columns]
Pandas(Index=5, PLAYER_ID=87, PLAYER_NAME='Dikembe Mutombo')
   GROUP_SET GROUP_VALUE     TEAM_ID TEAM_ABBREVIATION        MAX_GAME_DATE  \
14   By Year     1996-97  1610612737               ATL  1997-04-20T00:00:00

    GP   W   L  W_PCT   MIN  ...  BLKA_RANK  PF_RANK  PFD_RANK  PTS_RANK  \
14  80  54  26  0.675  37.2  ...          1        1        10         2

    PLUS_MINUS_RANK  NBA_FANTASY_PTS_RANK  DD2_RANK  TD3_RANK  CFID  CFPARAMS
14                1                     2         3         1   264   1996-97

[1 rows x 65 columns]
Pandas(Index=7, PLAYER_ID=695, PLAYER_NAME='Eldridge Recasner')
  GROUP_SET GROUP_VALUE     TEAM_ID TEAM_ABBREVIATION        MAX_GAME_DATE  \
7   By Year     1996-97  1610612737               ATL  1997-04-20T00:00:00

   GP   W   L  W_PCT   MIN  ...  BLKA_RANK  PF_RANK  PFD_RANK  PTS_RANK  \
7  71  48  23  0.676  16.9  ...          2        3         1         2

   PLUS_MINUS_RANK  NBA_FANTASY_PTS_RANK  DD2_RANK  TD3_RANK  CFID  CFPARAMS
7                4                     2         2         1   264   1996-97

[1 rows x 65 columns]
Pandas(Index=8, PLAYER_ID=1080, PLAYER_NAME='Henry James')
  GROUP_SET GROUP_VALUE     TEAM_ID TEAM_ABBREVIATION        MAX_GAME_DATE  \
1   By Year     1996-97  1610612737               ATL  1997-04-20T00:00:00

   GP   W   L  W_PCT   MIN  ...  BLKA_RANK  PF_RANK  PFD_RANK  PTS_RANK  \
1  53  39  14  0.736  17.9  ...          1        1         1         1

   PLUS_MINUS_RANK  NBA_FANTASY_PTS_RANK  DD2_RANK  TD3_RANK  CFID  CFPARAMS
1                1                     1         1         1   264   1996-97

[1 rows x 65 columns]
Pandas(Index=9, PLAYER_ID=1096, PLAYER_NAME='Ivano Newbill')
  GROUP_SET GROUP_VALUE     TEAM_ID TEAM_ABBREVIATION        MAX_GAME_DATE  \
1   By Year     1996-97  1610612737               ATL  1997-04-20T00:00:00

   GP   W   L  W_PCT   MIN  ...  BLKA_RANK  PF_RANK  PFD_RANK  PTS_RANK  \
1  72  49  23  0.681  11.8  ...          2        1         1         2

   PLUS_MINUS_RANK  NBA_FANTASY_PTS_RANK  DD2_RANK  TD3_RANK  CFID  CFPARAMS
1                1                     1         1         1   264   1996-97

[1 rows x 65 columns]
Pandas(Index=10, PLAYER_ID=468, PLAYER_NAME='Jon Barry')
   GROUP_SET GROUP_VALUE     TEAM_ID TEAM_ABBREVIATION        MAX_GAME_DATE  \
11   By Year     1996-97  1610612737               ATL  1997-04-20T00:00:00

    GP   W   L  W_PCT   MIN  ...  BLKA_RANK  PF_RANK  PFD_RANK  PTS_RANK  \
11  58  38  20  0.655  16.6  ...          4       10         6         9

    PLUS_MINUS_RANK  NBA_FANTASY_PTS_RANK  DD2_RANK  TD3_RANK  CFID  CFPARAMS
11                6                     7         3         1   264   1996-97

[1 rows x 65 columns]
Pandas(Index=12, PLAYER_ID=302, PLAYER_NAME='Mookie Blaylock')
  GROUP_SET GROUP_VALUE     TEAM_ID TEAM_ABBREVIATION        MAX_GAME_DATE  \
5   By Year     1996-97  1610612737               ATL  1997-04-20T00:00:00

   GP   W   L  W_PCT   MIN  ...  BLKA_RANK  PF_RANK  PFD_RANK  PTS_RANK  \
5  78  53  25  0.679  39.2  ...          3        2         2         1

   PLUS_MINUS_RANK  NBA_FANTASY_PTS_RANK  DD2_RANK  TD3_RANK  CFID  CFPARAMS
5                1                     1         1         4   264   1996-97

[1 rows x 65 columns]
Pandas(Index=14, PLAYER_ID=120, PLAYER_NAME='Steven Smith')
   GROUP_SET GROUP_VALUE     TEAM_ID TEAM_ABBREVIATION        MAX_GAME_DATE  \
10   By Year     1996-97  1610612737               ATL  1997-04-20T00:00:00

    GP   W   L  W_PCT   MIN  ...  BLKA_RANK  PF_RANK  PFD_RANK  PTS_RANK  \
10  72  50  22  0.694  39.2  ...          3        5         4         1

    PLUS_MINUS_RANK  NBA_FANTASY_PTS_RANK  DD2_RANK  TD3_RANK  CFID  CFPARAMS
10                3                     2         1         1   264   1996-97

[1 rows x 65 columns]
Pandas(Index=15, PLAYER_ID=895, PLAYER_NAME='Tyrone Corbin')
  GROUP_SET GROUP_VALUE     TEAM_ID TEAM_ABBREVIATION        MAX_GAME_DATE  \
4   By Year     1996-97  1610612737               ATL  1997-04-20T00:00:00

   GP   W   L  W_PCT   MIN  ...  BLKA_RANK  PF_RANK  PFD_RANK  PTS_RANK  \
4  70  49  21    0.7  33.0  ...          1        1         2         2

   PLUS_MINUS_RANK  NBA_FANTASY_PTS_RANK  DD2_RANK  TD3_RANK  CFID  CFPARAMS
4                1                     2         1         1   264   1996-97

[1 rows x 65 columns]
Pandas(Index=1, PLAYER_ID=952, PLAYER_NAME='Antoine Walker')
   GROUP_SET GROUP_VALUE     TEAM_ID TEAM_ABBREVIATION        MAX_GAME_DATE  \
13   By Year     1996-97  1610612738               BOS  1997-04-20T00:00:00

    GP   W   L  W_PCT   MIN  ...  BLKA_RANK  PF_RANK  PFD_RANK  PTS_RANK  \
13  82  15  67  0.183  36.2  ...          4        2         8         8

    PLUS_MINUS_RANK  NBA_FANTASY_PTS_RANK  DD2_RANK  TD3_RANK  CFID  CFPARAMS
13               12                     8         3         2   264   1996-97

[1 rows x 65 columns]
Pandas(Index=4, PLAYER_ID=133, PLAYER_NAME='David Wesley')
   GROUP_SET GROUP_VALUE     TEAM_ID TEAM_ABBREVIATION        MAX_GAME_DATE  \
12   By Year     1996-97  1610612738               BOS  1997-04-20T00:00:00

    GP   W   L  W_PCT   MIN  ...  BLKA_RANK  PF_RANK  PFD_RANK  PTS_RANK  \
12  74  13  61  0.176  40.4  ...          1        1         5         2

    PLUS_MINUS_RANK  NBA_FANTASY_PTS_RANK  DD2_RANK  TD3_RANK  CFID  CFPARAMS
12               12                     1         1         1   264   1996-97

[1 rows x 65 columns]
Pandas(Index=6, PLAYER_ID=129, PLAYER_NAME='Dino Radja')
  GROUP_SET GROUP_VALUE     TEAM_ID TEAM_ABBREVIATION        MAX_GAME_DATE  \
0   By Year     1996-97  1610612738               BOS  1997-01-02T00:00:00

   GP  W   L  W_PCT   MIN  ...  BLKA_RANK  PF_RANK  PFD_RANK  PTS_RANK  \
0  25  6  19   0.24  34.9  ...          1        1         1         1

   PLUS_MINUS_RANK  NBA_FANTASY_PTS_RANK  DD2_RANK  TD3_RANK  CFID  CFPARAMS
0                1                     1         1         1   264   1996-97

[1 rows x 65 columns]
Pandas(Index=7, PLAYER_ID=677, PLAYER_NAME='Eric Williams')
   GROUP_SET GROUP_VALUE     TEAM_ID TEAM_ABBREVIATION        MAX_GAME_DATE  \
16   By Year     1996-97  1610612738               BOS  1997-04-12T00:00:00

    GP   W   L  W_PCT   MIN  ...  BLKA_RANK  PF_RANK  PFD_RANK  PTS_RANK  \
16  72  13  59  0.181  33.8  ...          2        2         5         2

    PLUS_MINUS_RANK  NBA_FANTASY_PTS_RANK  DD2_RANK  TD3_RANK  CFID  CFPARAMS
16               14                     2         1         1   264   1996-97

[1 rows x 65 columns]
Pandas(Index=10, PLAYER_ID=55, PLAYER_NAME='Marty Conlon')
  GROUP_SET GROUP_VALUE     TEAM_ID TEAM_ABBREVIATION        MAX_GAME_DATE  \
3   By Year     1996-97  1610612738               BOS  1997-04-20T00:00:00

   GP   W   L  W_PCT   MIN  ...  BLKA_RANK  PF_RANK  PFD_RANK  PTS_RANK  \
3  74  13  61  0.176  21.8  ...          1        1         1         1

   PLUS_MINUS_RANK  NBA_FANTASY_PTS_RANK  DD2_RANK  TD3_RANK  CFID  CFPARAMS
3                4                     1         1         1   264   1996-97

[1 rows x 65 columns]
Pandas(Index=14, PLAYER_ID=296, PLAYER_NAME='Rick Fox')
  GROUP_SET GROUP_VALUE     TEAM_ID TEAM_ABBREVIATION        MAX_GAME_DATE  \
7   By Year     1996-97  1610612738               BOS  1997-04-11T00:00:00

   GP   W   L  W_PCT   MIN  ...  BLKA_RANK  PF_RANK  PFD_RANK  PTS_RANK  \
7  76  14  62  0.184  34.8  ...          1        2         3         1

   PLUS_MINUS_RANK  NBA_FANTASY_PTS_RANK  DD2_RANK  TD3_RANK  CFID  CFPARAMS
7                8                     1         1         1   264   1996-97

[1 rows x 65 columns]
Pandas(Index=17, PLAYER_ID=103, PLAYER_NAME='Todd Day')

  GROUP_SET GROUP_VALUE     TEAM_ID TEAM_ABBREVIATION        MAX_GAME_DATE  \
3   By Year     1996-97  1610612738               BOS  1997-04-20T00:00:00

   GP   W   L  W_PCT   MIN  ...  BLKA_RANK  PF_RANK  PFD_RANK  PTS_RANK  \
3  81  14  67  0.173  28.2  ...          1        1         2         1

   PLUS_MINUS_RANK  NBA_FANTASY_PTS_RANK  DD2_RANK  TD3_RANK  CFID  CFPARAMS
3                4                     1         1         1   264   1996-97

[1 rows x 65 columns]
Pandas(Index=1, PLAYER_ID=193, PLAYER_NAME='Anthony Mason')
  GROUP_SET GROUP_VALUE     TEAM_ID TEAM_ABBREVIATION        MAX_GAME_DATE  \
5   By Year     1996-97  1610612766               CHH  1997-04-20T00:00:00

   GP   W   L  W_PCT   MIN  ...  BLKA_RANK  PF_RANK  PFD_RANK  PTS_RANK  \
5  73  48  25  0.658  43.0  ...          2        2         3         1

   PLUS_MINUS_RANK  NBA_FANTASY_PTS_RANK  DD2_RANK  TD3_RANK  CFID  CFPARAMS
5                3                     1         1         1   264   1996-97

[1 rows x 65 columns]
Pandas(Index=2, PLAYER_ID=209, PLAYER_NAME='Dell Curry')
  GROUP_SET GROUP_VALUE     TEAM_ID TEAM_ABBREVIATION        MAX_GAME_DATE  \
5   By Year     1996-97  1610612766               CHH  1997-04-14T00:00:00

   GP   W   L  W_PCT   MIN  ...  BLKA_RANK  PF_RANK  PFD_RANK  PTS_RANK  \
5  68  43  25  0.632  30.6  ...          1        1         2         1

   PLUS_MINUS_RANK  NBA_FANTASY_PTS_RANK  DD2_RANK  TD3_RANK  CFID  CFPARAMS
5                2                     1         1         1   264   1996-97

[1 rows x 65 columns]
Pandas(Index=6, PLAYER_ID=779, PLAYER_NAME='Glen Rice')
  GROUP_SET GROUP_VALUE     TEAM_ID TEAM_ABBREVIATION        MAX_GAME_DATE  \
7   By Year     1996-97  1610612766               CHH  1997-04-20T00:00:00

   GP   W   L  W_PCT   MIN  ...  BLKA_RANK  PF_RANK  PFD_RANK  PTS_RANK  \
7  79  52  27  0.658  42.5  ...          3        3         3         1

   PLUS_MINUS_RANK  NBA_FANTASY_PTS_RANK  DD2_RANK  TD3_RANK  CFID  CFPARAMS
7                3                     1         5         1   264   1996-97

[1 rows x 65 columns]
Pandas(Index=9, PLAYER_ID=761, PLAYER_NAME='Matt Geiger')
  GROUP_SET GROUP_VALUE     TEAM_ID TEAM_ABBREVIATION        MAX_GAME_DATE  \
5   By Year     1996-97  1610612766               CHH  1997-04-16T00:00:00

   GP   W   L  W_PCT   MIN  ...  BLKA_RANK  PF_RANK  PFD_RANK  PTS_RANK  \
5  49  34  15  0.694  21.3  ...          5        2         3         4

   PLUS_MINUS_RANK  NBA_FANTASY_PTS_RANK  DD2_RANK  TD3_RANK  CFID  CFPARAMS
5                3                     4         4         1   264   1996-97

[1 rows x 65 columns]
Pandas(Index=10, PLAYER_ID=177, PLAYER_NAME='Muggsy Bogues')
  GROUP_SET GROUP_VALUE     TEAM_ID TEAM_ABBREVIATION        MAX_GAME_DATE  \
6   By Year     1996-97  1610612766               CHH  1997-04-14T00:00:00

   GP   W   L  W_PCT   MIN  ...  BLKA_RANK  PF_RANK  PFD_RANK  PTS_RANK  \
6  65  46  19  0.708  28.9  ...          2        1         2         1

   PLUS_MINUS_RANK  NBA_FANTASY_PTS_RANK  DD2_RANK  TD3_RANK  CFID  CFPARAMS
6                1                     1         1         1   264   1996-97

[1 rows x 65 columns]
Pandas(Index=15, PLAYER_ID=960, PLAYER_NAME='Tony Delk')
   GROUP_SET GROUP_VALUE     TEAM_ID TEAM_ABBREVIATION        MAX_GAME_DATE  \
15   By Year     1996-97  1610612766               CHH  1997-04-20T00:00:00

    GP   W   L  W_PCT   MIN  ...  BLKA_RANK  PF_RANK  PFD_RANK  PTS_RANK  \
15  61  39  22  0.639  14.2  ...         10       12         4        11

    PLUS_MINUS_RANK  NBA_FANTASY_PTS_RANK  DD2_RANK  TD3_RANK  CFID  CFPARAMS
15                7                    11         2         1   264   1996-97

[1 rows x 65 columns]
Pandas(Index=16, PLAYER_ID=380, PLAYER_NAME='Tony Smith')
  GROUP_SET GROUP_VALUE     TEAM_ID TEAM_ABBREVIATION        MAX_GAME_DATE  \
2   By Year     1996-97  1610612766               CHH  1997-04-20T00:00:00

   GP   W   L  W_PCT   MIN  ...  BLKA_RANK  PF_RANK  PFD_RANK  PTS_RANK  \
2  69  43  26  0.623  18.7  ...          1        2         1         1

   PLUS_MINUS_RANK  NBA_FANTASY_PTS_RANK  DD2_RANK  TD3_RANK  CFID  CFPARAMS
2                1                     1         1         1   264   1996-97

[1 rows x 65 columns]
Pandas(Index=17, PLAYER_ID=124, PLAYER_NAME='Vlade Divac')
  GROUP_SET GROUP_VALUE     TEAM_ID TEAM_ABBREVIATION        MAX_GAME_DATE  \
8   By Year     1996-97  1610612766               CHH  1997-04-20T00:00:00

   GP   W   L  W_PCT   MIN  ...  BLKA_RANK  PF_RANK  PFD_RANK  PTS_RANK  \
8  81  53  28  0.654  35.1  ...          7        1         2         2

   PLUS_MINUS_RANK  NBA_FANTASY_PTS_RANK  DD2_RANK  TD3_RANK  CFID  CFPARAMS
8                5                     1         1         1   264   1996-97

[1 rows x 65 columns]
Pandas(Index=2, PLAYER_ID=23, PLAYER_NAME='Dennis Rodman')
  GROUP_SET GROUP_VALUE     TEAM_ID TEAM_ABBREVIATION        MAX_GAME_DATE  \
3   By Year     1996-97  1610612741               CHI  1997-03-25T00:00:00

   GP   W  L  W_PCT   MIN  ...  BLKA_RANK  PF_RANK  PFD_RANK  PTS_RANK  \
3  55  48  7  0.873  35.4  ...          4        2         2         1

   PLUS_MINUS_RANK  NBA_FANTASY_PTS_RANK  DD2_RANK  TD3_RANK  CFID  CFPARAMS
3                1                     1         1         1   264   1996-97

[1 rows x 65 columns]
Pandas(Index=4, PLAYER_ID=679, PLAYER_NAME='Jason Caffey')
  GROUP_SET GROUP_VALUE     TEAM_ID TEAM_ABBREVIATION        MAX_GAME_DATE  \
8   By Year     1996-97  1610612741               CHI  1997-04-19T00:00:00

   GP   W   L  W_PCT   MIN  ...  BLKA_RANK  PF_RANK  PFD_RANK  PTS_RANK  \
8  75  62  13  0.827  18.8  ...          7        6         3         4

   PLUS_MINUS_RANK  NBA_FANTASY_PTS_RANK  DD2_RANK  TD3_RANK  CFID  CFPARAMS
8                1                     5         3         1   264   1996-97

[1 rows x 65 columns]
Pandas(Index=6, PLAYER_ID=26, PLAYER_NAME='Luc Longley')
  GROUP_SET GROUP_VALUE     TEAM_ID TEAM_ABBREVIATION        MAX_GAME_DATE  \
4   By Year     1996-97  1610612741               CHI  1997-04-19T00:00:00

   GP   W   L  W_PCT   MIN  ...  BLKA_RANK  PF_RANK  PFD_RANK  PTS_RANK  \
4  59  49  10  0.831  25.0  ...          2        2         3         2

   PLUS_MINUS_RANK  NBA_FANTASY_PTS_RANK  DD2_RANK  TD3_RANK  CFID  CFPARAMS
4                1                     2         3         1   264   1996-97

[1 rows x 65 columns]
Pandas(Index=8, PLAYER_ID=893, PLAYER_NAME='Michael Jordan')
  GROUP_SET GROUP_VALUE     TEAM_ID TEAM_ABBREVIATION        MAX_GAME_DATE  \
3   By Year     1996-97  1610612741               CHI  1997-04-19T00:00:00

   GP   W   L  W_PCT   MIN  ...  BLKA_RANK  PF_RANK  PFD_RANK  PTS_RANK  \
3  82  69  13  0.841  37.9  ...          4        3         1         1

   PLUS_MINUS_RANK  NBA_FANTASY_PTS_RANK  DD2_RANK  TD3_RANK  CFID  CFPARAMS
3                1                     1         2         1   264   1996-97

[1 rows x 65 columns]
Pandas(Index=9, PLAYER_ID=753, PLAYER_NAME='Randy Brown')
  GROUP_SET GROUP_VALUE     TEAM_ID TEAM_ABBREVIATION        MAX_GAME_DATE  \
6   By Year     1996-97  1610612741               CHI  1997-04-19T00:00:00

   GP   W   L  W_PCT   MIN  ...  BLKA_RANK  PF_RANK  PFD_RANK  PTS_RANK  \
6  72  61  11  0.847  14.7  ...          5        5         4         3

   PLUS_MINUS_RANK  NBA_FANTASY_PTS_RANK  DD2_RANK  TD3_RANK  CFID  CFPARAMS
6                1                     4         2         1   264   1996-97

[1 rows x 65 columns]
Pandas(Index=11, PLAYER_ID=166, PLAYER_NAME='Ron Harper')
  GROUP_SET GROUP_VALUE     TEAM_ID TEAM_ABBREVIATION        MAX_GAME_DATE  \
4   By Year     1996-97  1610612741               CHI  1997-04-19T00:00:00

   GP   W   L  W_PCT   MIN  ...  BLKA_RANK  PF_RANK  PFD_RANK  PTS_RANK  \
4  76  64  12  0.842  22.9  ...          5        4         3         5

   PLUS_MINUS_RANK  NBA_FANTASY_PTS_RANK  DD2_RANK  TD3_RANK  CFID  CFPARAMS
4                2                     4         3         1   264   1996-97

[1 rows x 65 columns]
Pandas(Index=12, PLAYER_ID=937, PLAYER_NAME='Scottie Pippen')

  GROUP_SET GROUP_VALUE     TEAM_ID TEAM_ABBREVIATION        MAX_GAME_DATE  \
7   By Year     1996-97  1610612741               CHI  1997-04-19T00:00:00

   GP   W   L  W_PCT   MIN  ...  BLKA_RANK  PF_RANK  PFD_RANK  PTS_RANK  \
7  82  69  13  0.841  37.7  ...          3        3         6         1

   PLUS_MINUS_RANK  NBA_FANTASY_PTS_RANK  DD2_RANK  TD3_RANK  CFID  CFPARAMS
7                1                     1         1         2   264   1996-97

[1 rows x 65 columns]
Pandas(Index=13, PLAYER_ID=70, PLAYER_NAME='Steve Kerr')
  GROUP_SET GROUP_VALUE     TEAM_ID TEAM_ABBREVIATION        MAX_GAME_DATE  \
6   By Year     1996-97  1610612741               CHI  1997-04-19T00:00:00

   GP   W   L  W_PCT   MIN  ...  BLKA_RANK  PF_RANK  PFD_RANK  PTS_RANK  \
6  82  69  13  0.841  22.7  ...          2        2         2         1

   PLUS_MINUS_RANK  NBA_FANTASY_PTS_RANK  DD2_RANK  TD3_RANK  CFID  CFPARAMS
6                1                     1         1         1   264   1996-97

[1 rows x 65 columns]
Pandas(Index=14, PLAYER_ID=389, PLAYER_NAME='Toni Kukoc')
   GROUP_SET GROUP_VALUE     TEAM_ID TEAM_ABBREVIATION        MAX_GAME_DATE  \
13   By Year     1996-97  1610612741               CHI  1997-04-03T00:00:00

    GP   W  L  W_PCT   MIN  ...  BLKA_RANK  PF_RANK  PFD_RANK  PTS_RANK  \
13  57  50  7  0.877  28.3  ...          7        7         6         5

    PLUS_MINUS_RANK  NBA_FANTASY_PTS_RANK  DD2_RANK  TD3_RANK  CFID  CFPARAMS
13                1                     4         3         3   264   1996-97

[1 rows x 65 columns]
Pandas(Index=0, PLAYER_ID=226, PLAYER_NAME='Antonio Lang')
  GROUP_SET GROUP_VALUE     TEAM_ID TEAM_ABBREVIATION        MAX_GAME_DATE  \
5   By Year     1996-97  1610612739               CLE  1997-04-18T00:00:00

   GP   W   L  W_PCT   MIN  ...  BLKA_RANK  PF_RANK  PFD_RANK  PTS_RANK  \
5  64  32  32    0.5  13.2  ...          1        1         1         1

   PLUS_MINUS_RANK  NBA_FANTASY_PTS_RANK  DD2_RANK  TD3_RANK  CFID  CFPARAMS
5                1                     1         1         1   264   1996-97

[1 rows x 65 columns]
Pandas(Index=1, PLAYER_ID=682, PLAYER_NAME='Bob Sura')
   GROUP_SET GROUP_VALUE     TEAM_ID TEAM_ABBREVIATION        MAX_GAME_DATE  \
10   By Year     1996-97  1610612739               CLE  1997-04-20T00:00:00

    GP   W   L  W_PCT   MIN  ...  BLKA_RANK  PF_RANK  PFD_RANK  PTS_RANK  \
10  82  42  40  0.512  27.7  ...          5        4         2         6

    PLUS_MINUS_RANK  NBA_FANTASY_PTS_RANK  DD2_RANK  TD3_RANK  CFID  CFPARAMS
10                3                     5         3         2   264   1996-97

[1 rows x 65 columns]
Pandas(Index=2, PLAYER_ID=184, PLAYER_NAME='Bobby Phills')
  GROUP_SET GROUP_VALUE     TEAM_ID TEAM_ABBREVIATION        MAX_GAME_DATE  \
3   By Year     1996-97  1610612739               CLE  1997-04-20T00:00:00

   GP   W   L  W_PCT   MIN  ...  BLKA_RANK  PF_RANK  PFD_RANK  PTS_RANK  \
3  69  36  33  0.522  34.5  ...          2        4         3         3

   PLUS_MINUS_RANK  NBA_FANTASY_PTS_RANK  DD2_RANK  TD3_RANK  CFID  CFPARAMS
3                2                     2         1         1   264   1996-97

[1 rows x 65 columns]
Pandas(Index=4, PLAYER_ID=168, PLAYER_NAME='Chris Mills')
  GROUP_SET GROUP_VALUE     TEAM_ID TEAM_ABBREVIATION        MAX_GAME_DATE  \
6   By Year     1996-97  1610612739               CLE  1997-04-20T00:00:00

   GP   W   L  W_PCT   MIN  ...  BLKA_RANK  PF_RANK  PFD_RANK  PTS_RANK  \
6  80  41  39  0.513  39.6  ...          3        3         3         2

   PLUS_MINUS_RANK  NBA_FANTASY_PTS_RANK  DD2_RANK  TD3_RANK  CFID  CFPARAMS
6                1                     2         1         1   264   1996-97

[1 rows x 65 columns]
Pandas(Index=5, PLAYER_ID=198, PLAYER_NAME='Danny Ferry')
  GROUP_SET GROUP_VALUE     TEAM_ID TEAM_ABBREVIATION        MAX_GAME_DATE  \
6   By Year     1996-97  1610612739               CLE  1997-04-20T00:00:00

   GP   W   L  W_PCT   MIN  ...  BLKA_RANK  PF_RANK  PFD_RANK  PTS_RANK  \
6  82  42  40  0.512  32.1  ...          1        1         3         1

   PLUS_MINUS_RANK  NBA_FANTASY_PTS_RANK  DD2_RANK  TD3_RANK  CFID  CFPARAMS
6                3                     1         1         1   264   1996-97

[1 rows x 65 columns]
Pandas(Index=7, PLAYER_ID=770, PLAYER_NAME='Mark West')
  GROUP_SET GROUP_VALUE     TEAM_ID TEAM_ABBREVIATION        MAX_GAME_DATE  \
3   By Year     1996-97  1610612739               CLE  1997-04-20T00:00:00

   GP   W   L  W_PCT   MIN  ...  BLKA_RANK  PF_RANK  PFD_RANK  PTS_RANK  \
3  70  36  34  0.514  13.7  ...          1        1         2         1

   PLUS_MINUS_RANK  NBA_FANTASY_PTS_RANK  DD2_RANK  TD3_RANK  CFID  CFPARAMS
3                1                     1         1         1   264   1996-97

[1 rows x 65 columns]
Pandas(Index=10, PLAYER_ID=210, PLAYER_NAME='Terrell Brandon')
  GROUP_SET GROUP_VALUE     TEAM_ID TEAM_ABBREVIATION        MAX_GAME_DATE  \
7   By Year     1996-97  1610612739               CLE  1997-04-20T00:00:00

   GP   W   L  W_PCT   MIN  ...  BLKA_RANK  PF_RANK  PFD_RANK  PTS_RANK  \
7  78  40  38  0.513  36.8  ...          7        3         2         1

   PLUS_MINUS_RANK  NBA_FANTASY_PTS_RANK  DD2_RANK  TD3_RANK  CFID  CFPARAMS
7                5                     3         5         3   264   1996-97

[1 rows x 65 columns]
Pandas(Index=11, PLAYER_ID=238, PLAYER_NAME='Tyrone Hill')
   GROUP_SET GROUP_VALUE     TEAM_ID TEAM_ABBREVIATION        MAX_GAME_DATE  \
11   By Year     1996-97  1610612739               CLE  1997-04-20T00:00:00

    GP   W   L  W_PCT   MIN  ...  BLKA_RANK  PF_RANK  PFD_RANK  PTS_RANK  \
11  74  40  34  0.541  34.9  ...          4        5         2         1

    PLUS_MINUS_RANK  NBA_FANTASY_PTS_RANK  DD2_RANK  TD3_RANK  CFID  CFPARAMS
11                2                     1         1         1   264   1996-97

[1 rows x 65 columns]
Pandas(Index=12, PLAYER_ID=958, PLAYER_NAME='Vitaly Potapenko')
   GROUP_SET GROUP_VALUE     TEAM_ID TEAM_ABBREVIATION        MAX_GAME_DATE  \
14   By Year     1996-97  1610612739               CLE  1997-04-20T00:00:00

    GP   W   L  W_PCT   MIN  ...  BLKA_RANK  PF_RANK  PFD_RANK  PTS_RANK  \
14  80  40  40    0.5  15.5  ...          4        5         3         7

    PLUS_MINUS_RANK  NBA_FANTASY_PTS_RANK  DD2_RANK  TD3_RANK  CFID  CFPARAMS
14                5                     8         8         1   264   1996-97

[1 rows x 65 columns]
Pandas(Index=0, PLAYER_ID=920, PLAYER_NAME='A.C. Green')
  GROUP_SET GROUP_VALUE     TEAM_ID TEAM_ABBREVIATION        MAX_GAME_DATE  \
4   By Year     1996-97          -1               TOT  1997-04-19T00:00:00
5   By Year     1996-97  1610612742               DAL  1997-04-19T00:00:00
6   By Year     1996-97  1610612756               PHX  1996-12-25T00:00:00

   GP   W   L  W_PCT   MIN  ...  BLKA_RANK  PF_RANK  PFD_RANK  PTS_RANK  \
4  83  23  60  0.277  30.1  ...          1        1         1         1
5  56  15  41  0.268  34.7  ...          1        1         3         1
6  27   8  19  0.296  20.4  ...          2        6         2         3

   PLUS_MINUS_RANK  NBA_FANTASY_PTS_RANK  DD2_RANK  TD3_RANK  CFID  CFPARAMS
4                1                     1         1         1   264   1996-97
5                4                     1         1         1   264   1996-97
6                5                     4         6         1   264   1996-97

[3 rows x 65 columns]
Pandas(Index=1, PLAYER_ID=423, PLAYER_NAME='Chris Gatling')
   GROUP_SET GROUP_VALUE     TEAM_ID TEAM_ABBREVIATION        MAX_GAME_DATE  \
9    By Year     1996-97          -1               TOT  1997-02-28T00:00:00
10   By Year     1996-97  1610612751               NJN  1997-02-28T00:00:00
11   By Year     1996-97  1610612742               DAL  1997-02-13T00:00:00

    GP   W   L  W_PCT   MIN  ...  BLKA_RANK  PF_RANK  PFD_RANK  PTS_RANK  \
9   47  16  31  0.340  27.3  ...          1        1         2         1
10   3   0   3  0.000  30.7  ...          1        1         3         2
11  44  16  28  0.364  27.0  ...          4        3         5         1

    PLUS_MINUS_RANK  NBA_FANTASY_PTS_RANK  DD2_RANK  TD3_RANK  CFID  CFPARAMS
9                 3                     1         1         1   264   1996-97
10                9                     2         6         1   264   1996-97
11                6                     1         1         1   264   1996-97

[3 rows x 65 columns]
Pandas(Index=2, PLAYER_ID=157, PLAYER_NAME='Derek Harper')

  GROUP_SET GROUP_VALUE     TEAM_ID TEAM_ABBREVIATION        MAX_GAME_DATE  \
2   By Year     1996-97  1610612742               DAL  1997-04-19T00:00:00

   GP   W   L  W_PCT   MIN  ...  BLKA_RANK  PF_RANK  PFD_RANK  PTS_RANK  \
2  75  23  52  0.307  29.5  ...          1        2         2         1

   PLUS_MINUS_RANK  NBA_FANTASY_PTS_RANK  DD2_RANK  TD3_RANK  CFID  CFPARAMS
2                3                     1         1         1   264   1996-97

[1 rows x 65 columns]
Pandas(Index=4, PLAYER_ID=376, PLAYER_NAME='Eric Montross')
   GROUP_SET GROUP_VALUE     TEAM_ID TEAM_ABBREVIATION        MAX_GAME_DATE  \
9    By Year     1996-97          -1               TOT  1997-04-20T00:00:00
10   By Year     1996-97  1610612751               NJN  1997-04-20T00:00:00
11   By Year     1996-97  1610612742               DAL  1997-02-15T00:00:00

    GP   W   L  W_PCT   MIN  ...  BLKA_RANK  PF_RANK  PFD_RANK  PTS_RANK  \
9   78  27  51  0.346  23.4  ...          1        1         2         1
10  31  11  20  0.355  27.2  ...          1        1         4         1
11  47  16  31  0.340  20.9  ...          3        2         6         2

    PLUS_MINUS_RANK  NBA_FANTASY_PTS_RANK  DD2_RANK  TD3_RANK  CFID  CFPARAMS
9                 2                     1         1         1   264   1996-97
10                3                     1         1         1   264   1996-97
11                9                     2         4         1   264   1996-97

[3 rows x 65 columns]
Pandas(Index=7, PLAYER_ID=45, PLAYER_NAME='George McCloud')
  GROUP_SET GROUP_VALUE     TEAM_ID TEAM_ABBREVIATION        MAX_GAME_DATE  \
5   By Year     1996-97          -1               TOT  1997-04-09T00:00:00
6   By Year     1996-97  1610612747               LAL  1997-04-09T00:00:00
7   By Year     1996-97  1610612742               DAL  1997-02-15T00:00:00

   GP   W   L  W_PCT   MIN  ...  BLKA_RANK  PF_RANK  PFD_RANK  PTS_RANK  \
5  64  28  36  0.438  23.3  ...          1        1         1         1
6  23  13  10  0.565  12.3  ...          7        7         4         7
7  41  15  26  0.366  29.5  ...          3        2         4         1

   PLUS_MINUS_RANK  NBA_FANTASY_PTS_RANK  DD2_RANK  TD3_RANK  CFID  CFPARAMS
5                1                     1         1         1   264   1996-97
6                3                     7         4         1   264   1996-97
7                5                     1         4         1   264   1996-97

[3 rows x 65 columns]
Pandas(Index=9, PLAYER_ID=469, PLAYER_NAME='Jamal Mashburn')
  GROUP_SET GROUP_VALUE     TEAM_ID TEAM_ABBREVIATION        MAX_GAME_DATE  \
7   By Year     1996-97          -1               TOT  1997-04-19T00:00:00
8   By Year     1996-97  1610612748               MIA  1997-04-19T00:00:00
9   By Year     1996-97  1610612742               DAL  1997-02-13T00:00:00

   GP   W   L  W_PCT   MIN  ...  BLKA_RANK  PF_RANK  PFD_RANK  PTS_RANK  \
7  69  34  35  0.493  31.3  ...          1        1         1         1
8  32  23   9  0.719  37.2  ...          2        1         3         8
9  37  11  26  0.297  26.3  ...          9        9         3         9

   PLUS_MINUS_RANK  NBA_FANTASY_PTS_RANK  DD2_RANK  TD3_RANK  CFID  CFPARAMS
7                1                     1         1         1   264   1996-97
8                1                     6         6         3   264   1996-97
9                9                     9         9         3   264   1996-97

[3 rows x 65 columns]
Pandas(Index=13, PLAYER_ID=754, PLAYER_NAME='Jim Jackson')
   GROUP_SET GROUP_VALUE     TEAM_ID TEAM_ABBREVIATION        MAX_GAME_DATE  \
17   By Year     1996-97          -1               TOT  1997-04-20T00:00:00
18   By Year     1996-97  1610612751               NJN  1997-04-20T00:00:00
19   By Year     1996-97  1610612742               DAL  1997-02-15T00:00:00

    GP   W   L  W_PCT   MIN  ...  BLKA_RANK  PF_RANK  PFD_RANK  PTS_RANK  \
17  77  26  51  0.338  36.8  ...          1        1         2         1
18  31  11  20  0.355  37.3  ...          1        4         4         3
19  46  15  31  0.326  36.4  ...          4        7         7         4

    PLUS_MINUS_RANK  NBA_FANTASY_PTS_RANK  DD2_RANK  TD3_RANK  CFID  CFPARAMS
17                5                     1         1         1   264   1996-97
18                9                     2         1         1   264   1996-97
19               15                     3         6         2   264   1996-97

[3 rows x 65 columns]
Pandas(Index=17, PLAYER_ID=714, PLAYER_NAME='Michael Finley')
   GROUP_SET GROUP_VALUE     TEAM_ID TEAM_ABBREVIATION        MAX_GAME_DATE  \
15   By Year     1996-97          -1               TOT  1997-04-19T00:00:00
16   By Year     1996-97  1610612742               DAL  1997-04-19T00:00:00
17   By Year     1996-97  1610612756               PHX  1996-12-25T00:00:00

    GP   W   L  W_PCT   MIN  ...  BLKA_RANK  PF_RANK  PFD_RANK  PTS_RANK  \
15  83  23  60  0.277  33.6  ...          1        1         2         1
16  56  15  41  0.268  35.6  ...          3        7         8         8
17  27   8  19  0.296  29.5  ...         10        9        10        10

    PLUS_MINUS_RANK  NBA_FANTASY_PTS_RANK  DD2_RANK  TD3_RANK  CFID  CFPARAMS
15                2                     1         1         1   264   1996-97
16               15                     8         8         4   264   1996-97
17               14                    10        12         4   264   1996-97

[3 rows x 65 columns]
Pandas(Index=18, PLAYER_ID=932, PLAYER_NAME='Oliver Miller')
  GROUP_SET GROUP_VALUE     TEAM_ID TEAM_ABBREVIATION        MAX_GAME_DATE  \
4   By Year     1996-97          -1               TOT  1997-03-27T00:00:00
5   By Year     1996-97  1610612761               TOR  1997-03-27T00:00:00
6   By Year     1996-97  1610612742               DAL  1997-02-04T00:00:00

   GP   W   L  W_PCT   MIN  ...  BLKA_RANK  PF_RANK  PFD_RANK  PTS_RANK  \
4  61  22  39  0.361  18.9  ...          1        1         1         1
5  19   7  12  0.368  16.7  ...          6        4         4         3
6  42  15  27  0.357  20.0  ...          2        1         2         4

   PLUS_MINUS_RANK  NBA_FANTASY_PTS_RANK  DD2_RANK  TD3_RANK  CFID  CFPARAMS
4                1                     1         1         1   264   1996-97
5                2                     4         3         1   264   1996-97
6                4                     3         2         1   264   1996-97

[3 rows x 65 columns]
Pandas(Index=23, PLAYER_ID=762, PLAYER_NAME='Shawn Bradley')
   GROUP_SET GROUP_VALUE     TEAM_ID TEAM_ABBREVIATION        MAX_GAME_DATE  \
8    By Year     1996-97          -1               TOT  1997-04-19T00:00:00
9    By Year     1996-97  1610612742               DAL  1997-04-19T00:00:00
10   By Year     1996-97  1610612751               NJN  1997-02-17T00:00:00

    GP   W   L  W_PCT   MIN  ...  BLKA_RANK  PF_RANK  PFD_RANK  PTS_RANK  \
8   73  20  53  0.274  31.4  ...          1        1         1         1
9   33   7  26  0.212  32.2  ...          1        1         4         1
10  40  13  27  0.325  30.7  ...          2        6         2         2

    PLUS_MINUS_RANK  NBA_FANTASY_PTS_RANK  DD2_RANK  TD3_RANK  CFID  CFPARAMS
8                 1                     1         1         1   264   1996-97
9                10                     2         2         3   264   1996-97
10                9                     1         3         1   264   1996-97

[3 rows x 65 columns]
Pandas(Index=2, PLAYER_ID=686, PLAYER_NAME='Antonio McDyess')
   GROUP_SET GROUP_VALUE     TEAM_ID TEAM_ABBREVIATION        MAX_GAME_DATE  \
15   By Year     1996-97  1610612743               DEN  1997-04-19T00:00:00

    GP   W   L  W_PCT   MIN  ...  BLKA_RANK  PF_RANK  PFD_RANK  PTS_RANK  \
15  74  19  55  0.257  34.7  ...          4        2         9         4

    PLUS_MINUS_RANK  NBA_FANTASY_PTS_RANK  DD2_RANK  TD3_RANK  CFID  CFPARAMS
15               13                     4         5         1   264   1996-97

[1 rows x 65 columns]
Pandas(Index=3, PLAYER_ID=240, PLAYER_NAME='Brooks Thompson')

  GROUP_SET GROUP_VALUE     TEAM_ID TEAM_ABBREVIATION        MAX_GAME_DATE  \
3   By Year     1996-97          -1               TOT  1997-04-19T00:00:00
4   By Year     1996-97  1610612743               DEN  1997-04-19T00:00:00
5   By Year     1996-97  1610612762               UTA  1996-11-13T00:00:00

   GP   W   L  W_PCT   MIN  ...  BLKA_RANK  PF_RANK  PFD_RANK  PTS_RANK  \
3  67  18  49  0.269  15.8  ...          1        1         1         1
4  65  16  49  0.246  16.1  ...          1        1         1         1
5   2   2   0  1.000   4.1  ...          4        3         1         4

   PLUS_MINUS_RANK  NBA_FANTASY_PTS_RANK  DD2_RANK  TD3_RANK  CFID  CFPARAMS
3                2                     1         1         1   264   1996-97
4                3                     1         1         1   264   1996-97
5                4                     4         2         1   264   1996-97

[3 rows x 65 columns]
Pandas(Index=4, PLAYER_ID=179, PLAYER_NAME='Bryant Stith')
  GROUP_SET GROUP_VALUE     TEAM_ID TEAM_ABBREVIATION        MAX_GAME_DATE  \
5   By Year     1996-97  1610612743               DEN  1997-03-11T00:00:00

   GP   W   L  W_PCT   MIN  ...  BLKA_RANK  PF_RANK  PFD_RANK  PTS_RANK  \
5  52  13  39   0.25  34.4  ...          1        2         2         1

   PLUS_MINUS_RANK  NBA_FANTASY_PTS_RANK  DD2_RANK  TD3_RANK  CFID  CFPARAMS
5                4                     1         1         1   264   1996-97

[1 rows x 65 columns]
Pandas(Index=5, PLAYER_ID=107, PLAYER_NAME='Dale Ellis')
  GROUP_SET GROUP_VALUE     TEAM_ID TEAM_ABBREVIATION        MAX_GAME_DATE  \
5   By Year     1996-97  1610612743               DEN  1997-04-19T00:00:00

   GP   W   L  W_PCT   MIN  ...  BLKA_RANK  PF_RANK  PFD_RANK  PTS_RANK  \
5  82  21  61  0.256  35.9  ...          1        1         2         1

   PLUS_MINUS_RANK  NBA_FANTASY_PTS_RANK  DD2_RANK  TD3_RANK  CFID  CFPARAMS
5                5                     1         1         1   264   1996-97

[1 rows x 65 columns]
Pandas(Index=9, PLAYER_ID=911, PLAYER_NAME='Ervin Johnson')
  GROUP_SET GROUP_VALUE     TEAM_ID TEAM_ABBREVIATION        MAX_GAME_DATE  \
9   By Year     1996-97  1610612743               DEN  1997-04-19T00:00:00

   GP   W   L  W_PCT   MIN  ...  BLKA_RANK  PF_RANK  PFD_RANK  PTS_RANK  \
9  82  21  61  0.256  31.7  ...          1        3         5         2

   PLUS_MINUS_RANK  NBA_FANTASY_PTS_RANK  DD2_RANK  TD3_RANK  CFID  CFPARAMS
9               10                     1         1         1   264   1996-97

[1 rows x 65 columns]
Pandas(Index=15, PLAYER_ID=111, PLAYER_NAME='LaPhonso Ellis')
  GROUP_SET GROUP_VALUE     TEAM_ID TEAM_ABBREVIATION        MAX_GAME_DATE  \
6   By Year     1996-97  1610612743               DEN  1997-04-04T00:00:00

   GP   W   L  W_PCT   MIN  ...  BLKA_RANK  PF_RANK  PFD_RANK  PTS_RANK  \
6  55  13  42  0.236  36.4  ...          1        2         2         1

   PLUS_MINUS_RANK  NBA_FANTASY_PTS_RANK  DD2_RANK  TD3_RANK  CFID  CFPARAMS
6                6                     1         2         1   264   1996-97

[1 rows x 65 columns]
Pandas(Index=17, PLAYER_ID=349, PLAYER_NAME='Mark Jackson')
   GROUP_SET GROUP_VALUE     TEAM_ID TEAM_ABBREVIATION        MAX_GAME_DATE  \
9    By Year     1996-97          -1               TOT  1997-04-20T00:00:00
10   By Year     1996-97  1610612754               IND  1997-04-20T00:00:00
11   By Year     1996-97  1610612743               DEN  1997-02-18T00:00:00

    GP   W   L  W_PCT   MIN  ...  BLKA_RANK  PF_RANK  PFD_RANK  PTS_RANK  \
9   82  31  51  0.378  37.2  ...          1        1         1         1
10  30  14  16  0.467  35.1  ...          2        4         2         2
11  52  17  35  0.327  38.4  ...          1        1         4         1

    PLUS_MINUS_RANK  NBA_FANTASY_PTS_RANK  DD2_RANK  TD3_RANK  CFID  CFPARAMS
9                 2                     1         1         1   264   1996-97
10                3                     2         6         1   264   1996-97
11                9                     1         1         1   264   1996-97

[3 rows x 65 columns]
Pandas(Index=21, PLAYER_ID=67, PLAYER_NAME='Tom Hammonds')
  GROUP_SET GROUP_VALUE     TEAM_ID TEAM_ABBREVIATION        MAX_GAME_DATE  \
4   By Year     1996-97  1610612743               DEN  1997-04-19T00:00:00

   GP   W   L  W_PCT   MIN  ...  BLKA_RANK  PF_RANK  PFD_RANK  PTS_RANK  \
4  81  21  60  0.259  21.7  ...          1        1         3         1

   PLUS_MINUS_RANK  NBA_FANTASY_PTS_RANK  DD2_RANK  TD3_RANK  CFID  CFPARAMS
4                5                     1         1         1   264   1996-97

[1 rows x 65 columns]
Pandas(Index=0, PLAYER_ID=243, PLAYER_NAME='Aaron McKie')
   GROUP_SET GROUP_VALUE     TEAM_ID TEAM_ABBREVIATION        MAX_GAME_DATE  \
12   By Year     1996-97          -1               TOT  1997-04-20T00:00:00
13   By Year     1996-97  1610612765               DET  1997-04-20T00:00:00
14   By Year     1996-97  1610612757               POR  1997-01-22T00:00:00

    GP   W   L  W_PCT   MIN  ...  BLKA_RANK  PF_RANK  PFD_RANK  PTS_RANK  \
12  83  48  35  0.578  19.6  ...          1        2         2         1
13  42  25  17  0.595  20.2  ...          5        9         6         6
14  41  23  18  0.561  18.9  ...          9       11         6         9

    PLUS_MINUS_RANK  NBA_FANTASY_PTS_RANK  DD2_RANK  TD3_RANK  CFID  CFPARAMS
12                1                     2         1         1   264   1996-97
13                2                     6         2         2   264   1996-97
14                8                     9         5         2   264   1996-97

[3 rows x 65 columns]
Pandas(Index=2, PLAYER_ID=255, PLAYER_NAME='Grant Hill')
   GROUP_SET GROUP_VALUE     TEAM_ID TEAM_ABBREVIATION        MAX_GAME_DATE  \
15   By Year     1996-97  1610612765               DET  1997-04-20T00:00:00

    GP   W   L  W_PCT   MIN  ...  BLKA_RANK  PF_RANK  PFD_RANK  PTS_RANK  \
15  80  52  28   0.65  39.3  ...          7        5        10         2

    PLUS_MINUS_RANK  NBA_FANTASY_PTS_RANK  DD2_RANK  TD3_RANK  CFID  CFPARAMS
15                1                     1         1         1   264   1996-97

[1 rows x 65 columns]
Pandas(Index=3, PLAYER_ID=3, PLAYER_NAME='Grant Long')
  GROUP_SET GROUP_VALUE     TEAM_ID TEAM_ABBREVIATION        MAX_GAME_DATE  \
6   By Year     1996-97  1610612765               DET  1997-04-18T00:00:00

   GP   W   L  W_PCT   MIN  ...  BLKA_RANK  PF_RANK  PFD_RANK  PTS_RANK  \
6  65  41  24  0.631  18.0  ...          3        6         3         4

   PLUS_MINUS_RANK  NBA_FANTASY_PTS_RANK  DD2_RANK  TD3_RANK  CFID  CFPARAMS
6                2                     5         2         1   264   1996-97

[1 rows x 65 columns]
Pandas(Index=5, PLAYER_ID=247, PLAYER_NAME='Joe Dumars')
  GROUP_SET GROUP_VALUE     TEAM_ID TEAM_ABBREVIATION        MAX_GAME_DATE  \
2   By Year     1996-97  1610612765               DET  1997-04-16T00:00:00

   GP   W   L  W_PCT   MIN  ...  BLKA_RANK  PF_RANK  PFD_RANK  PTS_RANK  \
2  79  53  26  0.671  37.0  ...          1        3         2         1

   PLUS_MINUS_RANK  NBA_FANTASY_PTS_RANK  DD2_RANK  TD3_RANK  CFID  CFPARAMS
2                1                     1         2         1   264   1996-97

[1 rows x 65 columns]
Pandas(Index=7, PLAYER_ID=283, PLAYER_NAME='Lindsey Hunter')
   GROUP_SET GROUP_VALUE     TEAM_ID TEAM_ABBREVIATION        MAX_GAME_DATE  \
13   By Year     1996-97  1610612765               DET  1997-04-20T00:00:00

    GP   W   L  W_PCT   MIN  ...  BLKA_RANK  PF_RANK  PFD_RANK  PTS_RANK  \
13  82  54  28  0.659  36.9  ...          3        3        10         1

    PLUS_MINUS_RANK  NBA_FANTASY_PTS_RANK  DD2_RANK  TD3_RANK  CFID  CFPARAMS
13                3                     4         4         1   264   1996-97

[1 rows x 65 columns]
Pandas(Index=9, PLAYER_ID=688, PLAYER_NAME='Michael Curry')
  GROUP_SET GROUP_VALUE     TEAM_ID TEAM_ABBREVIATION        MAX_GAME_DATE  \
8   By Year     1996-97  1610612765               DET  1997-04-20T00:00:00

   GP   W   L  W_PCT   MIN  ...  BLKA_RANK  PF_RANK  PFD_RANK  PTS_RANK  \
8  81  53  28  0.654  15.0  ...          9        9         3         6

   PLUS_MINUS_RANK  NBA_FANTASY_PTS_RANK  DD2_RANK  TD3_RANK  CFID  CFPARAMS
8                1                     7         1         1   264   1996-97

[1 rows x 65 columns]
Pandas(Index=10, PLAYER_ID=901, PLAYER_NAME='Otis Thorpe')

  GROUP_SET GROUP_VALUE     TEAM_ID TEAM_ABBREVIATION        MAX_GAME_DATE  \
6   By Year     1996-97  1610612765               DET  1997-04-20T00:00:00

   GP   W   L  W_PCT   MIN  ...  BLKA_RANK  PF_RANK  PFD_RANK  PTS_RANK  \
6  79  51  28  0.646  33.7  ...          1        2         2         1

   PLUS_MINUS_RANK  NBA_FANTASY_PTS_RANK  DD2_RANK  TD3_RANK  CFID  CFPARAMS
6                1                     2         1         1   264   1996-97

[1 rows x 65 columns]
Pandas(Index=14, PLAYER_ID=371, PLAYER_NAME='Terry Mills')
  GROUP_SET GROUP_VALUE     TEAM_ID TEAM_ABBREVIATION        MAX_GAME_DATE  \
4   By Year     1996-97  1610612765               DET  1997-04-20T00:00:00

   GP   W   L  W_PCT   MIN  ...  BLKA_RANK  PF_RANK  PFD_RANK  PTS_RANK  \
4  79  52  27  0.658  25.3  ...          4        4         2         1

   PLUS_MINUS_RANK  NBA_FANTASY_PTS_RANK  DD2_RANK  TD3_RANK  CFID  CFPARAMS
4                1                     1         1         1   264   1996-97

[1 rows x 65 columns]
Pandas(Index=15, PLAYER_ID=689, PLAYER_NAME='Theo Ratliff')
   GROUP_SET GROUP_VALUE     TEAM_ID TEAM_ABBREVIATION        MAX_GAME_DATE  \
22   By Year     1996-97  1610612765               DET  1997-04-20T00:00:00

    GP   W   L  W_PCT   MIN  ...  BLKA_RANK  PF_RANK  PFD_RANK  PTS_RANK  \
22  76  48  28  0.632  17.0  ...         11       14        13        11

    PLUS_MINUS_RANK  NBA_FANTASY_PTS_RANK  DD2_RANK  TD3_RANK  CFID  CFPARAMS
22                4                    14         8         1   264   1996-97

[1 rows x 65 columns]
Pandas(Index=1, PLAYER_ID=692, PLAYER_NAME='Andrew DeClercq')
   GROUP_SET GROUP_VALUE     TEAM_ID TEAM_ABBREVIATION        MAX_GAME_DATE  \
10   By Year     1996-97  1610612744               GSW  1997-04-19T00:00:00

    GP   W   L  W_PCT   MIN  ...  BLKA_RANK  PF_RANK  PFD_RANK  PTS_RANK  \
10  71  26  45  0.366  15.0  ...          7        6         6         5

    PLUS_MINUS_RANK  NBA_FANTASY_PTS_RANK  DD2_RANK  TD3_RANK  CFID  CFPARAMS
10                7                     6         2         1   264   1996-97

[1 rows x 65 columns]
Pandas(Index=2, PLAYER_ID=769, PLAYER_NAME='B.J. Armstrong')
  GROUP_SET GROUP_VALUE     TEAM_ID TEAM_ABBREVIATION        MAX_GAME_DATE  \
7   By Year     1996-97  1610612744               GSW  1997-02-16T00:00:00

   GP   W   L  W_PCT   MIN  ...  BLKA_RANK  PF_RANK  PFD_RANK  PTS_RANK  \
7  49  19  30  0.388  20.8  ...          2        4         2         1

   PLUS_MINUS_RANK  NBA_FANTASY_PTS_RANK  DD2_RANK  TD3_RANK  CFID  CFPARAMS
7                4                     1         1         1   264   1996-97

[1 rows x 65 columns]
Pandas(Index=3, PLAYER_ID=902, PLAYER_NAME='Bimbo Coles')
  GROUP_SET GROUP_VALUE     TEAM_ID TEAM_ABBREVIATION        MAX_GAME_DATE  \
9   By Year     1996-97  1610612744               GSW  1997-03-10T00:00:00

   GP   W   L  W_PCT   MIN  ...  BLKA_RANK  PF_RANK  PFD_RANK  PTS_RANK  \
9  51  19  32  0.373  23.2  ...          3        5         3         4

   PLUS_MINUS_RANK  NBA_FANTASY_PTS_RANK  DD2_RANK  TD3_RANK  CFID  CFPARAMS
9                5                     4         3         1   264   1996-97

[1 rows x 65 columns]
Pandas(Index=4, PLAYER_ID=904, PLAYER_NAME='Chris Mullin')
  GROUP_SET GROUP_VALUE     TEAM_ID TEAM_ABBREVIATION        MAX_GAME_DATE  \
4   By Year     1996-97  1610612744               GSW  1997-04-19T00:00:00

   GP   W   L  W_PCT   MIN  ...  BLKA_RANK  PF_RANK  PFD_RANK  PTS_RANK  \
4  79  27  52  0.342  34.6  ...          3        3         2         1

   PLUS_MINUS_RANK  NBA_FANTASY_PTS_RANK  DD2_RANK  TD3_RANK  CFID  CFPARAMS
4                4                     1         1         1   264   1996-97

[1 rows x 65 columns]
Pandas(Index=7, PLAYER_ID=923, PLAYER_NAME='Donyell Marshall')
   GROUP_SET GROUP_VALUE     TEAM_ID TEAM_ABBREVIATION        MAX_GAME_DATE  \
16   By Year     1996-97  1610612744               GSW  1997-04-19T00:00:00

    GP   W   L  W_PCT   MIN  ...  BLKA_RANK  PF_RANK  PFD_RANK  PTS_RANK  \
16  61  19  42  0.311  16.8  ...          8       12        10        11

    PLUS_MINUS_RANK  NBA_FANTASY_PTS_RANK  DD2_RANK  TD3_RANK  CFID  CFPARAMS
16               10                    11        10         1   264   1996-97

[1 rows x 65 columns]
Pandas(Index=8, PLAYER_ID=280, PLAYER_NAME='Felton Spencer')
  GROUP_SET GROUP_VALUE     TEAM_ID TEAM_ABBREVIATION        MAX_GAME_DATE  \
5   By Year     1996-97          -1               TOT  1997-04-19T00:00:00
6   By Year     1996-97  1610612744               GSW  1997-04-19T00:00:00
7   By Year     1996-97  1610612753               ORL  1996-11-01T00:00:00

   GP   W   L  W_PCT   MIN  ...  BLKA_RANK  PF_RANK  PFD_RANK  PTS_RANK  \
5  73  24  49  0.329  21.4  ...          1        1         1         1
6  72  24  48  0.333  21.4  ...          1        1         2         1
7   1   0   1  0.000  18.9  ...          7        4         2         2

   PLUS_MINUS_RANK  NBA_FANTASY_PTS_RANK  DD2_RANK  TD3_RANK  CFID  CFPARAMS
5                1                     1         1         1   264   1996-97
6                6                     1         1         1   264   1996-97
7                1                     2         2         1   264   1996-97

[3 rows x 65 columns]
Pandas(Index=9, PLAYER_ID=693, PLAYER_NAME='Joe Smith')
   GROUP_SET GROUP_VALUE     TEAM_ID TEAM_ABBREVIATION        MAX_GAME_DATE  \
24   By Year     1996-97  1610612744               GSW  1997-04-19T00:00:00

    GP   W   L  W_PCT   MIN  ...  BLKA_RANK  PF_RANK  PFD_RANK  PTS_RANK  \
24  80  28  52   0.35  38.6  ...          2        8        16         1

    PLUS_MINUS_RANK  NBA_FANTASY_PTS_RANK  DD2_RANK  TD3_RANK  CFID  CFPARAMS
24               19                     1         1         1   264   1996-97

[1 rows x 65 columns]
Pandas(Index=10, PLAYER_ID=84, PLAYER_NAME='Latrell Sprewell')
  GROUP_SET GROUP_VALUE     TEAM_ID TEAM_ABBREVIATION        MAX_GAME_DATE  \
8   By Year     1996-97  1610612744               GSW  1997-04-17T00:00:00

   GP   W   L  W_PCT   MIN  ...  BLKA_RANK  PF_RANK  PFD_RANK  PTS_RANK  \
8  80  29  51  0.363  41.9  ...          3        4         4         1

   PLUS_MINUS_RANK  NBA_FANTASY_PTS_RANK  DD2_RANK  TD3_RANK  CFID  CFPARAMS
8                7                     1         1         1   264   1996-97

[1 rows x 65 columns]
Pandas(Index=12, PLAYER_ID=899, PLAYER_NAME='Mark Price')
  GROUP_SET GROUP_VALUE     TEAM_ID TEAM_ABBREVIATION        MAX_GAME_DATE  \
1   By Year     1996-97  1610612744               GSW  1997-04-19T00:00:00

   GP   W   L  W_PCT   MIN  ...  BLKA_RANK  PF_RANK  PFD_RANK  PTS_RANK  \
1  70  26  44  0.371  26.8  ...          2        2         1         1

   PLUS_MINUS_RANK  NBA_FANTASY_PTS_RANK  DD2_RANK  TD3_RANK  CFID  CFPARAMS
1                2                     1         1         1   264   1996-97

[1 rows x 65 columns]
Pandas(Index=16, PLAYER_ID=957, PLAYER_NAME='Todd Fuller')
  GROUP_SET GROUP_VALUE     TEAM_ID TEAM_ABBREVIATION        MAX_GAME_DATE  \
4   By Year     1996-97  1610612744               GSW  1997-04-19T00:00:00

   GP   W   L  W_PCT   MIN  ...  BLKA_RANK  PF_RANK  PFD_RANK  PTS_RANK  \
4  75  28  47  0.373  12.6  ...          3        1         2         1

   PLUS_MINUS_RANK  NBA_FANTASY_PTS_RANK  DD2_RANK  TD3_RANK  CFID  CFPARAMS
4                5                     1         2         1   264   1996-97

[1 rows x 65 columns]
Pandas(Index=1, PLAYER_ID=787, PLAYER_NAME='Charles Barkley')
  GROUP_SET GROUP_VALUE     TEAM_ID TEAM_ABBREVIATION        MAX_GAME_DATE  \
3   By Year     1996-97  1610612745               HOU  1997-04-20T00:00:00

   GP   W   L  W_PCT   MIN  ...  BLKA_RANK  PF_RANK  PFD_RANK  PTS_RANK  \
3  53  41  12  0.774  37.9  ...          3        1         2         1

   PLUS_MINUS_RANK  NBA_FANTASY_PTS_RANK  DD2_RANK  TD3_RANK  CFID  CFPARAMS
3                1                     1         2         1   264   1996-97

[1 rows x 65 columns]
Pandas(Index=3, PLAYER_ID=17, PLAYER_NAME='Clyde Drexler')
  GROUP_SET GROUP_VALUE     TEAM_ID TEAM_ABBREVIATION        MAX_GAME_DATE  \
1   By Year     1996-97  1610612745               HOU  1997-04-20T00:00:00

   GP   W   L  W_PCT   MIN  ...  BLKA_RANK  PF_RANK  PFD_RANK  PTS_RANK  \
1  62  46  16  0.742  36.6  ...          1        2         1         2

   PLUS_MINUS_RANK  NBA_FANTASY_PTS_RANK  DD2_RANK  TD3_RANK  CFID  CFPARAMS
1                1                     1         2         1   264   1996-97

[1 rows x 65 columns]
Pandas(Index=7, PLAYER_ID=165, PLAYER_NAME='Hakeem Olajuwon')

  GROUP_SET GROUP_VALUE     TEAM_ID TEAM_ABBREVIATION        MAX_GAME_DATE  \
5   By Year     1996-97  1610612745               HOU  1997-04-20T00:00:00

   GP   W   L  W_PCT   MIN  ...  BLKA_RANK  PF_RANK  PFD_RANK  PTS_RANK  \
5  78  54  24  0.692  36.5  ...          1        3         4         1

   PLUS_MINUS_RANK  NBA_FANTASY_PTS_RANK  DD2_RANK  TD3_RANK  CFID  CFPARAMS
5                1                     1         1         1   264   1996-97

[1 rows x 65 columns]
Pandas(Index=9, PLAYER_ID=788, PLAYER_NAME='Kevin Willis')
   GROUP_SET GROUP_VALUE     TEAM_ID TEAM_ABBREVIATION        MAX_GAME_DATE  \
11   By Year     1996-97  1610612745               HOU  1997-04-20T00:00:00

    GP   W   L  W_PCT   MIN  ...  BLKA_RANK  PF_RANK  PFD_RANK  PTS_RANK  \
11  75  51  24   0.68  26.2  ...          2        5         3         3

    PLUS_MINUS_RANK  NBA_FANTASY_PTS_RANK  DD2_RANK  TD3_RANK  CFID  CFPARAMS
11                2                     3         2         1   264   1996-97

[1 rows x 65 columns]
Pandas(Index=10, PLAYER_ID=53, PLAYER_NAME='Mario Elie')
  GROUP_SET GROUP_VALUE     TEAM_ID TEAM_ABBREVIATION        MAX_GAME_DATE  \
4   By Year     1996-97  1610612745               HOU  1997-04-15T00:00:00

   GP   W   L  W_PCT   MIN  ...  BLKA_RANK  PF_RANK  PFD_RANK  PTS_RANK  \
4  78  54  24  0.692  34.5  ...          3        1         4         1

   PLUS_MINUS_RANK  NBA_FANTASY_PTS_RANK  DD2_RANK  TD3_RANK  CFID  CFPARAMS
4                2                     1         1         1   264   1996-97

[1 rows x 65 columns]
Pandas(Index=11, PLAYER_ID=672, PLAYER_NAME='Matt Bullard')
  GROUP_SET GROUP_VALUE     TEAM_ID TEAM_ABBREVIATION        MAX_GAME_DATE  \
5   By Year     1996-97  1610612745               HOU  1997-04-18T00:00:00

   GP   W   L  W_PCT   MIN  ...  BLKA_RANK  PF_RANK  PFD_RANK  PTS_RANK  \
5  71  47  24  0.662  14.4  ...          5        4         2         4

   PLUS_MINUS_RANK  NBA_FANTASY_PTS_RANK  DD2_RANK  TD3_RANK  CFID  CFPARAMS
5                2                     4         1         1   264   1996-97

[1 rows x 65 columns]
Pandas(Index=12, PLAYER_ID=1074, PLAYER_NAME='Matt Maloney')
  GROUP_SET GROUP_VALUE     TEAM_ID TEAM_ABBREVIATION        MAX_GAME_DATE  \
5   By Year     1996-97  1610612745               HOU  1997-04-20T00:00:00

   GP   W   L  W_PCT   MIN  ...  BLKA_RANK  PF_RANK  PFD_RANK  PTS_RANK  \
5  82  57  25  0.695  29.1  ...          3        2         3         1

   PLUS_MINUS_RANK  NBA_FANTASY_PTS_RANK  DD2_RANK  TD3_RANK  CFID  CFPARAMS
5                1                     1         1         1   264   1996-97

[1 rows x 65 columns]
Pandas(Index=13, PLAYER_ID=970, PLAYER_NAME='Othella Harrington')
   GROUP_SET GROUP_VALUE     TEAM_ID TEAM_ABBREVIATION        MAX_GAME_DATE  \
13   By Year     1996-97  1610612745               HOU  1997-04-20T00:00:00

    GP   W   L  W_PCT   MIN  ...  BLKA_RANK  PF_RANK  PFD_RANK  PTS_RANK  \
13  57  37  20  0.649  15.1  ...          5        9        10        10

    PLUS_MINUS_RANK  NBA_FANTASY_PTS_RANK  DD2_RANK  TD3_RANK  CFID  CFPARAMS
13                6                     9         9         1   264   1996-97

[1 rows x 65 columns]
Pandas(Index=14, PLAYER_ID=988, PLAYER_NAME='Randy Livingston')
   GROUP_SET GROUP_VALUE     TEAM_ID TEAM_ABBREVIATION        MAX_GAME_DATE  \
10   By Year     1996-97  1610612745               HOU  1997-04-20T00:00:00

    GP   W   L  W_PCT   MIN  ...  BLKA_RANK  PF_RANK  PFD_RANK  PTS_RANK  \
10  64  41  23  0.641  15.3  ...          5        2         2         3

    PLUS_MINUS_RANK  NBA_FANTASY_PTS_RANK  DD2_RANK  TD3_RANK  CFID  CFPARAMS
10                6                     5         1         1   264   1996-97

[1 rows x 65 columns]
Pandas(Index=15, PLAYER_ID=694, PLAYER_NAME='Sam Mack')
  GROUP_SET GROUP_VALUE     TEAM_ID TEAM_ABBREVIATION        MAX_GAME_DATE  \
6   By Year     1996-97  1610612745               HOU  1997-03-27T00:00:00

   GP   W   L  W_PCT   MIN  ...  BLKA_RANK  PF_RANK  PFD_RANK  PTS_RANK  \
6  52  34  18  0.654  17.4  ...          4        6         3         4

   PLUS_MINUS_RANK  NBA_FANTASY_PTS_RANK  DD2_RANK  TD3_RANK  CFID  CFPARAMS
6                3                     4         1         1   264   1996-97

[1 rows x 65 columns]
Pandas(Index=0, PLAYER_ID=213, PLAYER_NAME='Antonio Davis')
   GROUP_SET GROUP_VALUE     TEAM_ID TEAM_ABBREVIATION        MAX_GAME_DATE  \
13   By Year     1996-97  1610612754               IND  1997-04-20T00:00:00

    GP   W   L  W_PCT   MIN  ...  BLKA_RANK  PF_RANK  PFD_RANK  PTS_RANK  \
13  82  39  43  0.476  28.5  ...          7        3         4         5

    PLUS_MINUS_RANK  NBA_FANTASY_PTS_RANK  DD2_RANK  TD3_RANK  CFID  CFPARAMS
13                4                     6         4         1   264   1996-97

[1 rows x 65 columns]
Pandas(Index=2, PLAYER_ID=905, PLAYER_NAME='Dale Davis')
   GROUP_SET GROUP_VALUE     TEAM_ID TEAM_ABBREVIATION        MAX_GAME_DATE  \
12   By Year     1996-97  1610612754               IND  1997-04-20T00:00:00

    GP   W   L  W_PCT   MIN  ...  BLKA_RANK  PF_RANK  PFD_RANK  PTS_RANK  \
12  80  39  41  0.488  32.4  ...          1        2         8         1

    PLUS_MINUS_RANK  NBA_FANTASY_PTS_RANK  DD2_RANK  TD3_RANK  CFID  CFPARAMS
12                9                     2         1         1   264   1996-97

[1 rows x 65 columns]
Pandas(Index=4, PLAYER_ID=365, PLAYER_NAME='Derrick McKey')
  GROUP_SET GROUP_VALUE     TEAM_ID TEAM_ABBREVIATION        MAX_GAME_DATE  \
5   By Year     1996-97  1610612754               IND  1997-04-11T00:00:00

   GP   W   L  W_PCT   MIN  ...  BLKA_RANK  PF_RANK  PFD_RANK  PTS_RANK  \
5  50  24  26   0.48  28.9  ...          1        1         5         1

   PLUS_MINUS_RANK  NBA_FANTASY_PTS_RANK  DD2_RANK  TD3_RANK  CFID  CFPARAMS
5                4                     1         1         1   264   1996-97

[1 rows x 65 columns]
Pandas(Index=5, PLAYER_ID=273, PLAYER_NAME='Duane Ferrell')
  GROUP_SET GROUP_VALUE     TEAM_ID TEAM_ABBREVIATION        MAX_GAME_DATE  \
2   By Year     1996-97  1610612754               IND  1997-04-16T00:00:00

   GP   W   L  W_PCT   MIN  ...  BLKA_RANK  PF_RANK  PFD_RANK  PTS_RANK  \
2  62  33  29  0.532  18.0  ...          1        1         1         1

   PLUS_MINUS_RANK  NBA_FANTASY_PTS_RANK  DD2_RANK  TD3_RANK  CFID  CFPARAMS
2                2                     1         1         1   264   1996-97

[1 rows x 65 columns]
Pandas(Index=7, PLAYER_ID=956, PLAYER_NAME='Erick Dampier')
   GROUP_SET GROUP_VALUE     TEAM_ID TEAM_ABBREVIATION        MAX_GAME_DATE  \
15   By Year     1996-97  1610612754               IND  1997-04-20T00:00:00

    GP   W   L  W_PCT   MIN  ...  BLKA_RANK  PF_RANK  PFD_RANK  PTS_RANK  \
15  72  37  35  0.514  14.6  ...          8       14        10        14

    PLUS_MINUS_RANK  NBA_FANTASY_PTS_RANK  DD2_RANK  TD3_RANK  CFID  CFPARAMS
15               10                    14        14         1   264   1996-97

[1 rows x 65 columns]
Pandas(Index=10, PLAYER_ID=147, PLAYER_NAME='Jalen Rose')
   GROUP_SET GROUP_VALUE     TEAM_ID TEAM_ABBREVIATION        MAX_GAME_DATE  \
16   By Year     1996-97  1610612754               IND  1997-04-20T00:00:00

    GP   W   L  W_PCT   MIN  ...  BLKA_RANK  PF_RANK  PFD_RANK  PTS_RANK  \
16  66  31  35   0.47  18.0  ...         13       13         9        13

    PLUS_MINUS_RANK  NBA_FANTASY_PTS_RANK  DD2_RANK  TD3_RANK  CFID  CFPARAMS
16                5                    13         9         2   264   1996-97

[1 rows x 65 columns]
Pandas(Index=13, PLAYER_ID=349, PLAYER_NAME='Mark Jackson')
   GROUP_SET GROUP_VALUE     TEAM_ID TEAM_ABBREVIATION        MAX_GAME_DATE  \
9    By Year     1996-97          -1               TOT  1997-04-20T00:00:00
10   By Year     1996-97  1610612754               IND  1997-04-20T00:00:00
11   By Year     1996-97  1610612743               DEN  1997-02-18T00:00:00

    GP   W   L  W_PCT   MIN  ...  BLKA_RANK  PF_RANK  PFD_RANK  PTS_RANK  \
9   82  31  51  0.378  37.2  ...          1        1         1         1
10  30  14  16  0.467  35.1  ...          2        4         2         2
11  52  17  35  0.327  38.4  ...          1        1         4         1

    PLUS_MINUS_RANK  NBA_FANTASY_PTS_RANK  DD2_RANK  TD3_RANK  CFID  CFPARAMS
9                 2                     1         1         1   264   1996-97
10                3                     2         6         1   264   1996-97
11                9                     1         1         1   264   1996-97

[3 rows x 65 columns]
Pandas(Index=14, PLAYER_ID=397, PLAYER_NAME='Reggie Miller')

  GROUP_SET GROUP_VALUE     TEAM_ID TEAM_ABBREVIATION        MAX_GAME_DATE  \
8   By Year     1996-97  1610612754               IND  1997-04-20T00:00:00

   GP   W   L  W_PCT   MIN  ...  BLKA_RANK  PF_RANK  PFD_RANK  PTS_RANK  \
8  81  38  43  0.469  36.6  ...          2        1         2         1

   PLUS_MINUS_RANK  NBA_FANTASY_PTS_RANK  DD2_RANK  TD3_RANK  CFID  CFPARAMS
8                7                     1         1         1   264   1996-97

[1 rows x 65 columns]
Pandas(Index=16, PLAYER_ID=22, PLAYER_NAME='Rik Smits')
  GROUP_SET GROUP_VALUE     TEAM_ID TEAM_ABBREVIATION        MAX_GAME_DATE  \
3   By Year     1996-97  1610612754               IND  1997-04-20T00:00:00

   GP   W   L  W_PCT   MIN  ...  BLKA_RANK  PF_RANK  PFD_RANK  PTS_RANK  \
3  52  25  27  0.481  29.2  ...          1        1         3         1

   PLUS_MINUS_RANK  NBA_FANTASY_PTS_RANK  DD2_RANK  TD3_RANK  CFID  CFPARAMS
3                3                     2         2         1   264   1996-97

[1 rows x 65 columns]
Pandas(Index=17, PLAYER_ID=696, PLAYER_NAME='Travis Best')
   GROUP_SET GROUP_VALUE     TEAM_ID TEAM_ABBREVIATION        MAX_GAME_DATE  \
10   By Year     1996-97  1610612754               IND  1997-04-20T00:00:00

    GP   W   L  W_PCT   MIN  ...  BLKA_RANK  PF_RANK  PFD_RANK  PTS_RANK  \
10  76  35  41  0.461  27.2  ...          3        2         4         2

    PLUS_MINUS_RANK  NBA_FANTASY_PTS_RANK  DD2_RANK  TD3_RANK  CFID  CFPARAMS
10                4                     3         2         1   264   1996-97

[1 rows x 65 columns]
Pandas(Index=18, PLAYER_ID=355, PLAYER_NAME='Vincent Askew')
  GROUP_SET GROUP_VALUE     TEAM_ID TEAM_ABBREVIATION        MAX_GAME_DATE  \
1   By Year     1996-97          -1               TOT  1997-02-23T00:00:00
2   By Year     1996-97  1610612743               DEN  1997-02-23T00:00:00
3   By Year     1996-97  1610612754               IND  1997-02-19T00:00:00
4   By Year     1996-97  1610612751               NJN  1996-11-01T00:00:00

   GP   W   L  W_PCT   MIN  ...  BLKA_RANK  PF_RANK  PFD_RANK  PTS_RANK  \
1  43  19  24  0.442  19.5  ...          1        1         1         1
2   1   0   1  0.000   9.0  ...          3        4         2         1
3  41  19  22  0.463  20.1  ...          1        1         1         2
4   1   0   1  0.000   6.5  ...          3        3         2         4

   PLUS_MINUS_RANK  NBA_FANTASY_PTS_RANK  DD2_RANK  TD3_RANK  CFID  CFPARAMS
1                1                     1         1         1   264   1996-97
2                4                     3         1         1   264   1996-97
3                3                     1         1         1   264   1996-97
4                1                     4         1         1   264   1996-97

[4 rows x 65 columns]
Pandas(Index=0, PLAYER_ID=448, PLAYER_NAME='Bo Outlaw')
   GROUP_SET GROUP_VALUE     TEAM_ID TEAM_ABBREVIATION        MAX_GAME_DATE  \
13   By Year     1996-97  1610612746               LAC  1997-04-19T00:00:00

    GP   W   L  W_PCT   MIN  ...  BLKA_RANK  PF_RANK  PFD_RANK  PTS_RANK  \
13  82  36  46  0.439  26.8  ...          5        3         8         2

    PLUS_MINUS_RANK  NBA_FANTASY_PTS_RANK  DD2_RANK  TD3_RANK  CFID  CFPARAMS
13                4                     4         4         3   264   1996-97

[1 rows x 65 columns]
Pandas(Index=1, PLAYER_ID=699, PLAYER_NAME='Brent Barry')
   GROUP_SET GROUP_VALUE     TEAM_ID TEAM_ABBREVIATION        MAX_GAME_DATE  \
14   By Year     1996-97  1610612746               LAC  1997-04-19T00:00:00

    GP   W   L  W_PCT   MIN  ...  BLKA_RANK  PF_RANK  PFD_RANK  PTS_RANK  \
14  59  24  35  0.407  18.6  ...         12       10         8         9

    PLUS_MINUS_RANK  NBA_FANTASY_PTS_RANK  DD2_RANK  TD3_RANK  CFID  CFPARAMS
14                6                     8         5         1   264   1996-97

[1 rows x 65 columns]
Pandas(Index=2, PLAYER_ID=239, PLAYER_NAME='Darrick Martin')
   GROUP_SET GROUP_VALUE     TEAM_ID TEAM_ABBREVIATION        MAX_GAME_DATE  \
10   By Year     1996-97  1610612746               LAC  1997-04-19T00:00:00

    GP   W   L  W_PCT   MIN  ...  BLKA_RANK  PF_RANK  PFD_RANK  PTS_RANK  \
10  82  36  46  0.439  22.2  ...          2        3         5         1

    PLUS_MINUS_RANK  NBA_FANTASY_PTS_RANK  DD2_RANK  TD3_RANK  CFID  CFPARAMS
10                8                     2         4         1   264   1996-97

[1 rows x 65 columns]
Pandas(Index=6, PLAYER_ID=441, PLAYER_NAME='Lamond Murray')
  GROUP_SET GROUP_VALUE     TEAM_ID TEAM_ABBREVIATION        MAX_GAME_DATE  \
8   By Year     1996-97  1610612746               LAC  1997-04-19T00:00:00

   GP   W   L  W_PCT   MIN  ...  BLKA_RANK  PF_RANK  PFD_RANK  PTS_RANK  \
8  74  31  43  0.419  17.5  ...          6        6         4         6

   PLUS_MINUS_RANK  NBA_FANTASY_PTS_RANK  DD2_RANK  TD3_RANK  CFID  CFPARAMS
8                2                     6         5         1   264   1996-97

[1 rows x 65 columns]
Pandas(Index=7, PLAYER_ID=953, PLAYER_NAME='Lorenzen Wright')
   GROUP_SET GROUP_VALUE     TEAM_ID TEAM_ABBREVIATION        MAX_GAME_DATE  \
14   By Year     1996-97  1610612746               LAC  1997-04-19T00:00:00

    GP   W   L  W_PCT   MIN  ...  BLKA_RANK  PF_RANK  PFD_RANK  PTS_RANK  \
14  77  35  42  0.455  25.2  ...          8        9         9         7

    PLUS_MINUS_RANK  NBA_FANTASY_PTS_RANK  DD2_RANK  TD3_RANK  CFID  CFPARAMS
14                8                     8         6         1   264   1996-97

[1 rows x 65 columns]
Pandas(Index=8, PLAYER_ID=919, PLAYER_NAME='Loy Vaught')
  GROUP_SET GROUP_VALUE     TEAM_ID TEAM_ABBREVIATION        MAX_GAME_DATE  \
6   By Year     1996-97  1610612746               LAC  1997-04-19T00:00:00

   GP   W   L  W_PCT   MIN  ...  BLKA_RANK  PF_RANK  PFD_RANK  PTS_RANK  \
6  82  36  46  0.439  34.6  ...          1        2         2         1

   PLUS_MINUS_RANK  NBA_FANTASY_PTS_RANK  DD2_RANK  TD3_RANK  CFID  CFPARAMS
6                5                     1         1         1   264   1996-97

[1 rows x 65 columns]
Pandas(Index=9, PLAYER_ID=907, PLAYER_NAME='Malik Sealy')
  GROUP_SET GROUP_VALUE     TEAM_ID TEAM_ABBREVIATION        MAX_GAME_DATE  \
3   By Year     1996-97  1610612746               LAC  1997-04-19T00:00:00

   GP   W   L  W_PCT   MIN  ...  BLKA_RANK  PF_RANK  PFD_RANK  PTS_RANK  \
3  80  35  45  0.438  30.8  ...          1        2         3         1

   PLUS_MINUS_RANK  NBA_FANTASY_PTS_RANK  DD2_RANK  TD3_RANK  CFID  CFPARAMS
3                4                     1         2         1   264   1996-97

[1 rows x 65 columns]
Pandas(Index=10, PLAYER_ID=71, PLAYER_NAME='Pooh Richardson')
  GROUP_SET GROUP_VALUE     TEAM_ID TEAM_ABBREVIATION        MAX_GAME_DATE  \
2   By Year     1996-97  1610612746               LAC  1997-04-19T00:00:00

   GP   W   L  W_PCT   MIN  ...  BLKA_RANK  PF_RANK  PFD_RANK  PTS_RANK  \
2  59  27  32  0.458  18.1  ...          2        1         1         1

   PLUS_MINUS_RANK  NBA_FANTASY_PTS_RANK  DD2_RANK  TD3_RANK  CFID  CFPARAMS
2                1                     1         1         1   264   1996-97

[1 rows x 65 columns]
Pandas(Index=12, PLAYER_ID=915, PLAYER_NAME='Rodney Rogers')
   GROUP_SET GROUP_VALUE     TEAM_ID TEAM_ABBREVIATION        MAX_GAME_DATE  \
12   By Year     1996-97  1610612746               LAC  1997-04-19T00:00:00

    GP   W   L  W_PCT   MIN  ...  BLKA_RANK  PF_RANK  PFD_RANK  PTS_RANK  \
12  81  35  46  0.432  30.5  ...          5        3         3         3

    PLUS_MINUS_RANK  NBA_FANTASY_PTS_RANK  DD2_RANK  TD3_RANK  CFID  CFPARAMS
12                8                     3         4         1   264   1996-97

[1 rows x 65 columns]
Pandas(Index=14, PLAYER_ID=143, PLAYER_NAME='Terry Dehere')
  GROUP_SET GROUP_VALUE     TEAM_ID TEAM_ABBREVIATION        MAX_GAME_DATE  \
4   By Year     1996-97  1610612746               LAC  1997-04-19T00:00:00

   GP   W   L  W_PCT   MIN  ...  BLKA_RANK  PF_RANK  PFD_RANK  PTS_RANK  \
4  73  30  43  0.411  14.4  ...          3        2         2         1

   PLUS_MINUS_RANK  NBA_FANTASY_PTS_RANK  DD2_RANK  TD3_RANK  CFID  CFPARAMS
4                1                     2         1         1   264   1996-97

[1 rows x 65 columns]

Pandas(Index=0, PLAYER_ID=2, PLAYER_NAME='Byron Scott')
  GROUP_SET GROUP_VALUE     TEAM_ID TEAM_ABBREVIATION        MAX_GAME_DATE  \
0   By Year     1996-97  1610612747               LAL  1997-04-20T00:00:00

   GP   W   L  W_PCT   MIN  ...  BLKA_RANK  PF_RANK  PFD_RANK  PTS_RANK  \
0  79  54  25  0.684  18.2  ...          1        1         1         1

   PLUS_MINUS_RANK  NBA_FANTASY_PTS_RANK  DD2_RANK  TD3_RANK  CFID  CFPARAMS
0                1                     1         1         1   264   1996-97

[1 rows x 65 columns]
Pandas(Index=2, PLAYER_ID=916, PLAYER_NAME='Corie Blount')
   GROUP_SET GROUP_VALUE     TEAM_ID TEAM_ABBREVIATION        MAX_GAME_DATE  \
13   By Year     1996-97  1610612747               LAL  1997-04-18T00:00:00

    GP   W   L  W_PCT   MIN  ...  BLKA_RANK  PF_RANK  PFD_RANK  PTS_RANK  \
13  58  40  18   0.69  17.3  ...         10        8         4         3

    PLUS_MINUS_RANK  NBA_FANTASY_PTS_RANK  DD2_RANK  TD3_RANK  CFID  CFPARAMS
13                5                     5         2         1   264   1996-97

[1 rows x 65 columns]
Pandas(Index=3, PLAYER_ID=965, PLAYER_NAME='Derek Fisher')
   GROUP_SET GROUP_VALUE     TEAM_ID TEAM_ABBREVIATION        MAX_GAME_DATE  \
21   By Year     1996-97  1610612747               LAL  1997-04-20T00:00:00

    GP   W   L  W_PCT   MIN  ...  BLKA_RANK  PF_RANK  PFD_RANK  PTS_RANK  \
21  80  55  25  0.688  11.5  ...         12       20        14        20

    PLUS_MINUS_RANK  NBA_FANTASY_PTS_RANK  DD2_RANK  TD3_RANK  CFID  CFPARAMS
21               18                    19         5         1   264   1996-97

[1 rows x 65 columns]
Pandas(Index=4, PLAYER_ID=224, PLAYER_NAME='Eddie Jones')
   GROUP_SET GROUP_VALUE     TEAM_ID TEAM_ABBREVIATION        MAX_GAME_DATE  \
15   By Year     1996-97  1610612747               LAL  1997-04-20T00:00:00

    GP   W   L  W_PCT   MIN  ...  BLKA_RANK  PF_RANK  PFD_RANK  PTS_RANK  \
15  80  54  26  0.675  37.5  ...          1        6         9         6

    PLUS_MINUS_RANK  NBA_FANTASY_PTS_RANK  DD2_RANK  TD3_RANK  CFID  CFPARAMS
15                6                     5         5         1   264   1996-97

[1 rows x 65 columns]
Pandas(Index=5, PLAYER_ID=922, PLAYER_NAME='Elden Campbell')
   GROUP_SET GROUP_VALUE     TEAM_ID TEAM_ABBREVIATION        MAX_GAME_DATE  \
14   By Year     1996-97  1610612747               LAL  1997-04-20T00:00:00

    GP   W   L  W_PCT   MIN  ...  BLKA_RANK  PF_RANK  PFD_RANK  PTS_RANK  \
14  77  52  25  0.675  32.6  ...          1        2         7         2

    PLUS_MINUS_RANK  NBA_FANTASY_PTS_RANK  DD2_RANK  TD3_RANK  CFID  CFPARAMS
14                2                     2         2         1   264   1996-97

[1 rows x 65 columns]
Pandas(Index=7, PLAYER_ID=760, PLAYER_NAME='Jerome Kersey')
  GROUP_SET GROUP_VALUE     TEAM_ID TEAM_ABBREVIATION        MAX_GAME_DATE  \
4   By Year     1996-97  1610612747               LAL  1997-04-20T00:00:00

   GP   W   L  W_PCT   MIN  ...  BLKA_RANK  PF_RANK  PFD_RANK  PTS_RANK  \
4  70  48  22  0.686  25.2  ...          1        1         3         1

   PLUS_MINUS_RANK  NBA_FANTASY_PTS_RANK  DD2_RANK  TD3_RANK  CFID  CFPARAMS
4                2                     1         1         1   264   1996-97

[1 rows x 65 columns]
Pandas(Index=9, PLAYER_ID=977, PLAYER_NAME='Kobe Bryant')
   GROUP_SET GROUP_VALUE     TEAM_ID TEAM_ABBREVIATION        MAX_GAME_DATE  \
19   By Year     1996-97  1610612747               LAL  1997-04-20T00:00:00

    GP   W   L  W_PCT   MIN  ...  BLKA_RANK  PF_RANK  PFD_RANK  PTS_RANK  \
19  71  48  23  0.676  15.5  ...         20       20        15        20

    PLUS_MINUS_RANK  NBA_FANTASY_PTS_RANK  DD2_RANK  TD3_RANK  CFID  CFPARAMS
19               16                    20        18        10   264   1996-97

[1 rows x 65 columns]
Pandas(Index=11, PLAYER_ID=89, PLAYER_NAME='Nick Van Exel')
   GROUP_SET GROUP_VALUE     TEAM_ID TEAM_ABBREVIATION        MAX_GAME_DATE  \
11   By Year     1996-97  1610612747               LAL  1997-04-20T00:00:00

    GP   W   L  W_PCT   MIN  ...  BLKA_RANK  PF_RANK  PFD_RANK  PTS_RANK  \
11  79  54  25  0.684  37.3  ...          5        7         5         5

    PLUS_MINUS_RANK  NBA_FANTASY_PTS_RANK  DD2_RANK  TD3_RANK  CFID  CFPARAMS
11                3                     4         3         1   264   1996-97

[1 rows x 65 columns]
Pandas(Index=15, PLAYER_ID=406, PLAYER_NAME="Shaquille O'Neal")
   GROUP_SET GROUP_VALUE     TEAM_ID TEAM_ABBREVIATION        MAX_GAME_DATE  \
16   By Year     1996-97  1610612747               LAL  1997-04-20T00:00:00

    GP   W   L  W_PCT   MIN  ...  BLKA_RANK  PF_RANK  PFD_RANK  PTS_RANK  \
16  51  38  13  0.745  38.1  ...          7        4        10         7

    PLUS_MINUS_RANK  NBA_FANTASY_PTS_RANK  DD2_RANK  TD3_RANK  CFID  CFPARAMS
16                9                     3         4         2   264   1996-97

[1 rows x 65 columns]
Pandas(Index=16, PLAYER_ID=969, PLAYER_NAME='Travis Knight')
  GROUP_SET GROUP_VALUE     TEAM_ID TEAM_ABBREVIATION        MAX_GAME_DATE  \
6   By Year     1996-97  1610612747               LAL  1997-04-20T00:00:00

   GP   W   L  W_PCT   MIN  ...  BLKA_RANK  PF_RANK  PFD_RANK  PTS_RANK  \
6  71  48  23  0.676  16.3  ...          1        3         2         2

   PLUS_MINUS_RANK  NBA_FANTASY_PTS_RANK  DD2_RANK  TD3_RANK  CFID  CFPARAMS
6                1                     2         1         1   264   1996-97

[1 rows x 65 columns]
Pandas(Index=0, PLAYER_ID=297, PLAYER_NAME='Alonzo Mourning')
   GROUP_SET GROUP_VALUE     TEAM_ID TEAM_ABBREVIATION        MAX_GAME_DATE  \
12   By Year     1996-97  1610612748               MIA  1997-04-18T00:00:00

    GP   W   L  W_PCT   MIN  ...  BLKA_RANK  PF_RANK  PFD_RANK  PTS_RANK  \
12  66  49  17  0.742  35.2  ...          1        1         6         3

    PLUS_MINUS_RANK  NBA_FANTASY_PTS_RANK  DD2_RANK  TD3_RANK  CFID  CFPARAMS
12                3                     3         2         1   264   1996-97

[1 rows x 65 columns]
Pandas(Index=2, PLAYER_ID=105, PLAYER_NAME='Dan Majerle')
  GROUP_SET GROUP_VALUE     TEAM_ID TEAM_ABBREVIATION        MAX_GAME_DATE  \
5   By Year     1996-97  1610612748               MIA  1997-04-19T00:00:00

   GP   W  L  W_PCT   MIN  ...  BLKA_RANK  PF_RANK  PFD_RANK  PTS_RANK  \
5  36  27  9   0.75  35.1  ...          1        2         4         1

   PLUS_MINUS_RANK  NBA_FANTASY_PTS_RANK  DD2_RANK  TD3_RANK  CFID  CFPARAMS
5                3                     1         1         1   264   1996-97

[1 rows x 65 columns]
Pandas(Index=5, PLAYER_ID=1134, PLAYER_NAME='Ike Austin')
  GROUP_SET GROUP_VALUE     TEAM_ID TEAM_ABBREVIATION        MAX_GAME_DATE  \
7   By Year     1996-97  1610612748               MIA  1997-04-19T00:00:00

   GP   W   L  W_PCT   MIN  ...  BLKA_RANK  PF_RANK  PFD_RANK  PTS_RANK  \
7  82  61  21  0.744  22.9  ...          3        2         3         4

   PLUS_MINUS_RANK  NBA_FANTASY_PTS_RANK  DD2_RANK  TD3_RANK  CFID  CFPARAMS
7                1                     4         1         1   264   1996-97

[1 rows x 65 columns]
Pandas(Index=6, PLAYER_ID=469, PLAYER_NAME='Jamal Mashburn')
  GROUP_SET GROUP_VALUE     TEAM_ID TEAM_ABBREVIATION        MAX_GAME_DATE  \
7   By Year     1996-97          -1               TOT  1997-04-19T00:00:00
8   By Year     1996-97  1610612748               MIA  1997-04-19T00:00:00
9   By Year     1996-97  1610612742               DAL  1997-02-13T00:00:00

   GP   W   L  W_PCT   MIN  ...  BLKA_RANK  PF_RANK  PFD_RANK  PTS_RANK  \
7  69  34  35  0.493  31.3  ...          1        1         1         1
8  32  23   9  0.719  37.2  ...          2        1         3         8
9  37  11  26  0.297  26.3  ...          9        9         3         9

   PLUS_MINUS_RANK  NBA_FANTASY_PTS_RANK  DD2_RANK  TD3_RANK  CFID  CFPARAMS
7                1                     1         1         1   264   1996-97
8                1                     6         6         3   264   1996-97
9                9                     9         9         3   264   1996-97

[3 rows x 65 columns]
Pandas(Index=9, PLAYER_ID=173, PLAYER_NAME='Keith Askins')

  GROUP_SET GROUP_VALUE     TEAM_ID TEAM_ABBREVIATION        MAX_GAME_DATE  \
2   By Year     1996-97  1610612748               MIA  1997-04-19T00:00:00

   GP   W   L  W_PCT   MIN  ...  BLKA_RANK  PF_RANK  PFD_RANK  PTS_RANK  \
2  78  60  18  0.769  22.7  ...          1        1         1         1

   PLUS_MINUS_RANK  NBA_FANTASY_PTS_RANK  DD2_RANK  TD3_RANK  CFID  CFPARAMS
2                2                     1         1         1   264   1996-97

[1 rows x 65 columns]
Pandas(Index=14, PLAYER_ID=136, PLAYER_NAME='P.J. Brown')
   GROUP_SET GROUP_VALUE     TEAM_ID TEAM_ABBREVIATION        MAX_GAME_DATE  \
11   By Year     1996-97  1610612748               MIA  1997-04-19T00:00:00

    GP   W   L  W_PCT   MIN  ...  BLKA_RANK  PF_RANK  PFD_RANK  PTS_RANK  \
11  80  59  21  0.738  32.4  ...          1        2         6         7

    PLUS_MINUS_RANK  NBA_FANTASY_PTS_RANK  DD2_RANK  TD3_RANK  CFID  CFPARAMS
11                2                     6         3         1   264   1996-97

[1 rows x 65 columns]
Pandas(Index=15, PLAYER_ID=390, PLAYER_NAME='Sasha Danilovic')
  GROUP_SET GROUP_VALUE     TEAM_ID TEAM_ABBREVIATION        MAX_GAME_DATE  \
0   By Year     1996-97          -1               TOT  1997-04-19T00:00:00
1   By Year     1996-97  1610612742               DAL  1997-04-19T00:00:00
2   By Year     1996-97  1610612748               MIA  1997-02-13T00:00:00

   GP   W   L  W_PCT   MIN  ...  BLKA_RANK  PF_RANK  PFD_RANK  PTS_RANK  \
0  56  35  21  0.625  31.9  ...          1        1         1         1
1  13   3  10  0.231  33.8  ...          1        2         2         1
2  43  32  11  0.744  31.4  ...          2        1         1         2

   PLUS_MINUS_RANK  NBA_FANTASY_PTS_RANK  DD2_RANK  TD3_RANK  CFID  CFPARAMS
0                1                     1         1         1   264   1996-97
1                2                     1         1         1   264   1996-97
2                1                     2         1         1   264   1996-97

[3 rows x 65 columns]
Pandas(Index=16, PLAYER_ID=896, PLAYER_NAME='Tim Hardaway')
  GROUP_SET GROUP_VALUE     TEAM_ID TEAM_ABBREVIATION        MAX_GAME_DATE  \
8   By Year     1996-97  1610612748               MIA  1997-04-18T00:00:00

   GP   W   L  W_PCT   MIN  ...  BLKA_RANK  PF_RANK  PFD_RANK  PTS_RANK  \
8  81  60  21  0.741  38.8  ...          2        4         3         1

   PLUS_MINUS_RANK  NBA_FANTASY_PTS_RANK  DD2_RANK  TD3_RANK  CFID  CFPARAMS
8                1                     1         2         1   264   1996-97

[1 rows x 65 columns]
Pandas(Index=17, PLAYER_ID=702, PLAYER_NAME='Voshon Lenard')
   GROUP_SET GROUP_VALUE     TEAM_ID TEAM_ABBREVIATION        MAX_GAME_DATE  \
11   By Year     1996-97  1610612748               MIA  1997-04-19T00:00:00

    GP   W   L  W_PCT   MIN  ...  BLKA_RANK  PF_RANK  PFD_RANK  PTS_RANK  \
11  73  53  20  0.726  28.9  ...          9        5         4         4

    PLUS_MINUS_RANK  NBA_FANTASY_PTS_RANK  DD2_RANK  TD3_RANK  CFID  CFPARAMS
11                2                     6         5         1   264   1996-97

[1 rows x 65 columns]
Pandas(Index=1, PLAYER_ID=457, PLAYER_NAME='Andrew Lang')
  GROUP_SET GROUP_VALUE     TEAM_ID TEAM_ABBREVIATION        MAX_GAME_DATE  \
3   By Year     1996-97  1610612749               MIL  1997-04-20T00:00:00

   GP   W   L  W_PCT   MIN  ...  BLKA_RANK  PF_RANK  PFD_RANK  PTS_RANK  \
3  52  24  28  0.462  23.0  ...          2        1         1         1

   PLUS_MINUS_RANK  NBA_FANTASY_PTS_RANK  DD2_RANK  TD3_RANK  CFID  CFPARAMS
3                2                     1         1         1   264   1996-97

[1 rows x 65 columns]
Pandas(Index=2, PLAYER_ID=288, PLAYER_NAME='Armen Gilliam')
  GROUP_SET GROUP_VALUE     TEAM_ID TEAM_ABBREVIATION        MAX_GAME_DATE  \
3   By Year     1996-97  1610612749               MIL  1997-04-20T00:00:00

   GP   W   L  W_PCT   MIN  ...  BLKA_RANK  PF_RANK  PFD_RANK  PTS_RANK  \
3  80  33  47  0.413  25.7  ...          4        1         2         2

   PLUS_MINUS_RANK  NBA_FANTASY_PTS_RANK  DD2_RANK  TD3_RANK  CFID  CFPARAMS
3                3                     2         1         1   264   1996-97

[1 rows x 65 columns]
Pandas(Index=7, PLAYER_ID=386, PLAYER_NAME='Elliot Perry')
  GROUP_SET GROUP_VALUE     TEAM_ID TEAM_ABBREVIATION        MAX_GAME_DATE  \
9   By Year     1996-97  1610612749               MIL  1997-04-20T00:00:00

   GP   W   L  W_PCT   MIN  ...  BLKA_RANK  PF_RANK  PFD_RANK  PTS_RANK  \
9  82  33  49  0.402  19.5  ...          6        3         2         2

   PLUS_MINUS_RANK  NBA_FANTASY_PTS_RANK  DD2_RANK  TD3_RANK  CFID  CFPARAMS
9                4                     1         2         1   264   1996-97

[1 rows x 65 columns]
Pandas(Index=8, PLAYER_ID=299, PLAYER_NAME='Glenn Robinson')
  GROUP_SET GROUP_VALUE     TEAM_ID TEAM_ABBREVIATION        MAX_GAME_DATE  \
8   By Year     1996-97  1610612749               MIL  1997-04-20T00:00:00

   GP   W   L  W_PCT   MIN  ...  BLKA_RANK  PF_RANK  PFD_RANK  PTS_RANK  \
8  80  33  47  0.413  38.9  ...          2        2         5         3

   PLUS_MINUS_RANK  NBA_FANTASY_PTS_RANK  DD2_RANK  TD3_RANK  CFID  CFPARAMS
8                6                     2         4         1   264   1996-97

[1 rows x 65 columns]
Pandas(Index=11, PLAYER_ID=271, PLAYER_NAME='Johnny Newman')
  GROUP_SET GROUP_VALUE     TEAM_ID TEAM_ABBREVIATION        MAX_GAME_DATE  \
5   By Year     1996-97  1610612749               MIL  1997-04-20T00:00:00

   GP   W   L  W_PCT   MIN  ...  BLKA_RANK  PF_RANK  PFD_RANK  PTS_RANK  \
5  82  33  49  0.402  25.1  ...          4        1         3         4

   PLUS_MINUS_RANK  NBA_FANTASY_PTS_RANK  DD2_RANK  TD3_RANK  CFID  CFPARAMS
5                2                     3         3         1   264   1996-97

[1 rows x 65 columns]
Pandas(Index=13, PLAYER_ID=951, PLAYER_NAME='Ray Allen')
   GROUP_SET GROUP_VALUE     TEAM_ID TEAM_ABBREVIATION        MAX_GAME_DATE  \
19   By Year     1996-97  1610612749               MIL  1997-04-20T00:00:00

    GP   W   L  W_PCT   MIN  ...  BLKA_RANK  PF_RANK  PFD_RANK  PTS_RANK  \
19  82  33  49  0.402  31.0  ...          7        3        14        17

    PLUS_MINUS_RANK  NBA_FANTASY_PTS_RANK  DD2_RANK  TD3_RANK  CFID  CFPARAMS
19               17                    17        12         4   264   1996-97

[1 rows x 65 columns]
Pandas(Index=15, PLAYER_ID=428, PLAYER_NAME='Sherman Douglas')
  GROUP_SET GROUP_VALUE     TEAM_ID TEAM_ABBREVIATION        MAX_GAME_DATE  \
4   By Year     1996-97  1610612749               MIL  1997-04-20T00:00:00

   GP   W   L  W_PCT   MIN  ...  BLKA_RANK  PF_RANK  PFD_RANK  PTS_RANK  \
4  79  33  46  0.418  29.3  ...          4        1         2         1

   PLUS_MINUS_RANK  NBA_FANTASY_PTS_RANK  DD2_RANK  TD3_RANK  CFID  CFPARAMS
4                2                     1         2         1   264   1996-97

[1 rows x 65 columns]
Pandas(Index=16, PLAYER_ID=452, PLAYER_NAME='Vin Baker')
   GROUP_SET GROUP_VALUE     TEAM_ID TEAM_ABBREVIATION        MAX_GAME_DATE  \
13   By Year     1996-97  1610612749               MIL  1997-04-20T00:00:00

    GP   W   L  W_PCT   MIN  ...  BLKA_RANK  PF_RANK  PFD_RANK  PTS_RANK  \
13  78  31  47  0.397  40.5  ...          3        5         7         1

    PLUS_MINUS_RANK  NBA_FANTASY_PTS_RANK  DD2_RANK  TD3_RANK  CFID  CFPARAMS
13                7                     1         1         1   264   1996-97

[1 rows x 65 columns]
Pandas(Index=1, PLAYER_ID=685, PLAYER_NAME='Cherokee Parks')
  GROUP_SET GROUP_VALUE     TEAM_ID TEAM_ABBREVIATION        MAX_GAME_DATE  \
9   By Year     1996-97  1610612750               MIN  1997-04-19T00:00:00

   GP   W   L  W_PCT   MIN  ...  BLKA_RANK  PF_RANK  PFD_RANK  PTS_RANK  \
9  76  38  38    0.5  12.7  ...          7        4         3         6

   PLUS_MINUS_RANK  NBA_FANTASY_PTS_RANK  DD2_RANK  TD3_RANK  CFID  CFPARAMS
9                2                     7         5         1   264   1996-97

[1 rows x 65 columns]
Pandas(Index=2, PLAYER_ID=713, PLAYER_NAME='Chris Carr')
  GROUP_SET GROUP_VALUE     TEAM_ID TEAM_ABBREVIATION        MAX_GAME_DATE  \
8   By Year     1996-97  1610612750               MIN  1997-03-14T00:00:00

   GP   W   L  W_PCT   MIN  ...  BLKA_RANK  PF_RANK  PFD_RANK  PTS_RANK  \
8  55  28  27  0.509  15.0  ...          4        4         2         4

   PLUS_MINUS_RANK  NBA_FANTASY_PTS_RANK  DD2_RANK  TD3_RANK  CFID  CFPARAMS
8                1                     3         2         1   264   1996-97

[1 rows x 65 columns]
Pandas(Index=3, PLAYER_ID=1051, PLAYER_NAME='Dean Garrett')

  GROUP_SET GROUP_VALUE     TEAM_ID TEAM_ABBREVIATION        MAX_GAME_DATE  \
7   By Year     1996-97  1610612750               MIN  1997-04-19T00:00:00

   GP   W   L  W_PCT   MIN  ...  BLKA_RANK  PF_RANK  PFD_RANK  PTS_RANK  \
7  68  30  38  0.441  24.5  ...          2        2         2         1

   PLUS_MINUS_RANK  NBA_FANTASY_PTS_RANK  DD2_RANK  TD3_RANK  CFID  CFPARAMS
7                2                     2         2         1   264   1996-97

[1 rows x 65 columns]
Pandas(Index=4, PLAYER_ID=28, PLAYER_NAME='Doug West')
  GROUP_SET GROUP_VALUE     TEAM_ID TEAM_ABBREVIATION        MAX_GAME_DATE  \
4   By Year     1996-97  1610612750               MIN  1997-04-19T00:00:00

   GP   W   L  W_PCT   MIN  ...  BLKA_RANK  PF_RANK  PFD_RANK  PTS_RANK  \
4  68  31  37  0.456  28.3  ...          1        1         3         1

   PLUS_MINUS_RANK  NBA_FANTASY_PTS_RANK  DD2_RANK  TD3_RANK  CFID  CFPARAMS
4                3                     1         1         1   264   1996-97

[1 rows x 65 columns]
Pandas(Index=5, PLAYER_ID=381, PLAYER_NAME='James Robinson')
  GROUP_SET GROUP_VALUE     TEAM_ID TEAM_ABBREVIATION        MAX_GAME_DATE  \
5   By Year     1996-97  1610612750               MIN  1997-04-19T00:00:00

   GP   W   L  W_PCT   MIN  ...  BLKA_RANK  PF_RANK  PFD_RANK  PTS_RANK  \
5  69  33  36  0.478  19.0  ...          1        3         1         1

   PLUS_MINUS_RANK  NBA_FANTASY_PTS_RANK  DD2_RANK  TD3_RANK  CFID  CFPARAMS
5                3                     2         1         1   264   1996-97

[1 rows x 65 columns]
Pandas(Index=6, PLAYER_ID=708, PLAYER_NAME='Kevin Garnett')
   GROUP_SET GROUP_VALUE     TEAM_ID TEAM_ABBREVIATION        MAX_GAME_DATE  \
21   By Year     1996-97  1610612750               MIN  1997-04-19T00:00:00

    GP   W   L  W_PCT   MIN  ...  BLKA_RANK  PF_RANK  PFD_RANK  PTS_RANK  \
21  77  40  37  0.519  38.8  ...          6        5        15        12

    PLUS_MINUS_RANK  NBA_FANTASY_PTS_RANK  DD2_RANK  TD3_RANK  CFID  CFPARAMS
21               16                    12        15         8   264   1996-97

[1 rows x 65 columns]
Pandas(Index=8, PLAYER_ID=417, PLAYER_NAME='Sam Mitchell')
  GROUP_SET GROUP_VALUE     TEAM_ID TEAM_ABBREVIATION        MAX_GAME_DATE  \
5   By Year     1996-97  1610612750               MIN  1997-04-19T00:00:00

   GP   W   L  W_PCT   MIN  ...  BLKA_RANK  PF_RANK  PFD_RANK  PTS_RANK  \
5  82  40  42  0.488  25.0  ...          1        1         3         3

   PLUS_MINUS_RANK  NBA_FANTASY_PTS_RANK  DD2_RANK  TD3_RANK  CFID  CFPARAMS
5                6                     3         2         1   264   1996-97

[1 rows x 65 columns]
Pandas(Index=10, PLAYER_ID=950, PLAYER_NAME='Stephon Marbury')
   GROUP_SET GROUP_VALUE     TEAM_ID TEAM_ABBREVIATION        MAX_GAME_DATE  \
16   By Year     1996-97  1610612750               MIN  1997-04-19T00:00:00

    GP   W   L  W_PCT   MIN  ...  BLKA_RANK  PF_RANK  PFD_RANK  PTS_RANK  \
16  67  32  35  0.478  34.7  ...          2        9         9        13

    PLUS_MINUS_RANK  NBA_FANTASY_PTS_RANK  DD2_RANK  TD3_RANK  CFID  CFPARAMS
16               12                    11         7         2   264   1996-97

[1 rows x 65 columns]
Pandas(Index=12, PLAYER_ID=345, PLAYER_NAME='Terry Porter')
  GROUP_SET GROUP_VALUE     TEAM_ID TEAM_ABBREVIATION        MAX_GAME_DATE  \
5   By Year     1996-97  1610612750               MIN  1997-04-19T00:00:00

   GP   W   L  W_PCT   MIN  ...  BLKA_RANK  PF_RANK  PFD_RANK  PTS_RANK  \
5  82  40  42  0.488  19.2  ...          5        2         4         5

   PLUS_MINUS_RANK  NBA_FANTASY_PTS_RANK  DD2_RANK  TD3_RANK  CFID  CFPARAMS
5                6                     5         1         1   264   1996-97

[1 rows x 65 columns]
Pandas(Index=13, PLAYER_ID=339, PLAYER_NAME='Tom Gugliotta')
   GROUP_SET GROUP_VALUE     TEAM_ID TEAM_ABBREVIATION        MAX_GAME_DATE  \
12   By Year     1996-97  1610612750               MIN  1997-04-19T00:00:00

    GP   W   L  W_PCT   MIN  ...  BLKA_RANK  PF_RANK  PFD_RANK  PTS_RANK  \
12  81  40  41  0.494  38.7  ...          1        2         4         1

    PLUS_MINUS_RANK  NBA_FANTASY_PTS_RANK  DD2_RANK  TD3_RANK  CFID  CFPARAMS
12                6                     1         1         1   264   1996-97

[1 rows x 65 columns]
Pandas(Index=3, PLAYER_ID=376, PLAYER_NAME='Eric Montross')
   GROUP_SET GROUP_VALUE     TEAM_ID TEAM_ABBREVIATION        MAX_GAME_DATE  \
9    By Year     1996-97          -1               TOT  1997-04-20T00:00:00
10   By Year     1996-97  1610612751               NJN  1997-04-20T00:00:00
11   By Year     1996-97  1610612742               DAL  1997-02-15T00:00:00

    GP   W   L  W_PCT   MIN  ...  BLKA_RANK  PF_RANK  PFD_RANK  PTS_RANK  \
9   78  27  51  0.346  23.4  ...          1        1         2         1
10  31  11  20  0.355  27.2  ...          1        1         4         1
11  47  16  31  0.340  20.9  ...          3        2         6         2

    PLUS_MINUS_RANK  NBA_FANTASY_PTS_RANK  DD2_RANK  TD3_RANK  CFID  CFPARAMS
9                 2                     1         1         1   264   1996-97
10                3                     1         1         1   264   1996-97
11                9                     2         4         1   264   1996-97

[3 rows x 65 columns]
Pandas(Index=6, PLAYER_ID=420, PLAYER_NAME='Jayson Williams')
  GROUP_SET GROUP_VALUE     TEAM_ID TEAM_ABBREVIATION        MAX_GAME_DATE  \
2   By Year     1996-97  1610612751               NJN  1997-02-23T00:00:00

   GP   W   L  W_PCT   MIN  ...  BLKA_RANK  PF_RANK  PFD_RANK  PTS_RANK  \
2  41  12  29  0.293  34.9  ...          1        2         3         1

   PLUS_MINUS_RANK  NBA_FANTASY_PTS_RANK  DD2_RANK  TD3_RANK  CFID  CFPARAMS
2                3                     1         2         1   264   1996-97

[1 rows x 65 columns]
Pandas(Index=7, PLAYER_ID=754, PLAYER_NAME='Jim Jackson')
   GROUP_SET GROUP_VALUE     TEAM_ID TEAM_ABBREVIATION        MAX_GAME_DATE  \
17   By Year     1996-97          -1               TOT  1997-04-20T00:00:00
18   By Year     1996-97  1610612751               NJN  1997-04-20T00:00:00
19   By Year     1996-97  1610612742               DAL  1997-02-15T00:00:00

    GP   W   L  W_PCT   MIN  ...  BLKA_RANK  PF_RANK  PFD_RANK  PTS_RANK  \
17  77  26  51  0.338  36.8  ...          1        1         2         1
18  31  11  20  0.355  37.3  ...          1        4         4         3
19  46  15  31  0.326  36.4  ...          4        7         7         4

    PLUS_MINUS_RANK  NBA_FANTASY_PTS_RANK  DD2_RANK  TD3_RANK  CFID  CFPARAMS
17                5                     1         1         1   264   1996-97
18                9                     2         1         1   264   1996-97
19               15                     3         6         2   264   1996-97

[3 rows x 65 columns]
Pandas(Index=9, PLAYER_ID=383, PLAYER_NAME='Kendall Gill')
  GROUP_SET GROUP_VALUE     TEAM_ID TEAM_ABBREVIATION        MAX_GAME_DATE  \
8   By Year     1996-97  1610612751               NJN  1997-04-20T00:00:00

   GP   W   L  W_PCT   MIN  ...  BLKA_RANK  PF_RANK  PFD_RANK  PTS_RANK  \
8  82  26  56  0.317  39.0  ...          1        4         5         1

   PLUS_MINUS_RANK  NBA_FANTASY_PTS_RANK  DD2_RANK  TD3_RANK  CFID  CFPARAMS
8                6                     1         1         2   264   1996-97

[1 rows x 65 columns]
Pandas(Index=10, PLAYER_ID=954, PLAYER_NAME='Kerry Kittles')
  GROUP_SET GROUP_VALUE     TEAM_ID TEAM_ABBREVIATION        MAX_GAME_DATE  \
7   By Year     1996-97  1610612751               NJN  1997-04-20T00:00:00

   GP   W   L  W_PCT   MIN  ...  BLKA_RANK  PF_RANK  PFD_RANK  PTS_RANK  \
7  82  26  56  0.317  36.8  ...          3        1         3         2

   PLUS_MINUS_RANK  NBA_FANTASY_PTS_RANK  DD2_RANK  TD3_RANK  CFID  CFPARAMS
7                7                     2         4         1   264   1996-97

[1 rows x 65 columns]
Pandas(Index=12, PLAYER_ID=234, PLAYER_NAME='Khalid Reeves')
  GROUP_SET GROUP_VALUE     TEAM_ID TEAM_ABBREVIATION        MAX_GAME_DATE  \
3   By Year     1996-97          -1               TOT  1997-03-13T00:00:00
4   By Year     1996-97  1610612742               DAL  1997-03-13T00:00:00
5   By Year     1996-97  1610612751               NJN  1997-02-17T00:00:00

   GP   W   L  W_PCT   MIN  ...  BLKA_RANK  PF_RANK  PFD_RANK  PTS_RANK  \
3  63  19  44  0.302  22.7  ...          1        1         1         1
4  13   4   9  0.308  29.6  ...          1        1         1         3
5  50  15  35  0.300  21.0  ...          3        3         1         2

   PLUS_MINUS_RANK  NBA_FANTASY_PTS_RANK  DD2_RANK  TD3_RANK  CFID  CFPARAMS
3                1                     1         1         1   264   1996-97
4                5                     1         2         1   264   1996-97
5                4                     3         1         1   264   1996-97

[3 rows x 65 columns]
Pandas(Index=15, PLAYER_ID=123, PLAYER_NAME='Robert Pack')

  GROUP_SET GROUP_VALUE     TEAM_ID TEAM_ABBREVIATION        MAX_GAME_DATE  \
7   By Year     1996-97          -1               TOT  1997-04-19T00:00:00
8   By Year     1996-97  1610612742               DAL  1997-04-19T00:00:00
9   By Year     1996-97  1610612751               NJN  1997-01-20T00:00:00

   GP   W   L  W_PCT   MIN  ...  BLKA_RANK  PF_RANK  PFD_RANK  PTS_RANK  \
7  54  12  42  0.222  33.0  ...          1        1         1         1
8  20   2  18  0.100  29.9  ...          3        1         3         2
9  34  10  24  0.294  34.9  ...          1        2         3         1

   PLUS_MINUS_RANK  NBA_FANTASY_PTS_RANK  DD2_RANK  TD3_RANK  CFID  CFPARAMS
7                1                     1         1         1   264   1996-97
8                7                     2         5         2   264   1996-97
9                8                     1         1         2   264   1996-97

[3 rows x 65 columns]
Pandas(Index=18, PLAYER_ID=762, PLAYER_NAME='Shawn Bradley')
   GROUP_SET GROUP_VALUE     TEAM_ID TEAM_ABBREVIATION        MAX_GAME_DATE  \
8    By Year     1996-97          -1               TOT  1997-04-19T00:00:00
9    By Year     1996-97  1610612742               DAL  1997-04-19T00:00:00
10   By Year     1996-97  1610612751               NJN  1997-02-17T00:00:00

    GP   W   L  W_PCT   MIN  ...  BLKA_RANK  PF_RANK  PFD_RANK  PTS_RANK  \
8   73  20  53  0.274  31.4  ...          1        1         1         1
9   33   7  26  0.212  32.2  ...          1        1         4         1
10  40  13  27  0.325  30.7  ...          2        6         2         2

    PLUS_MINUS_RANK  NBA_FANTASY_PTS_RANK  DD2_RANK  TD3_RANK  CFID  CFPARAMS
8                 1                     1         1         1   264   1996-97
9                10                     2         2         3   264   1996-97
10                9                     1         3         1   264   1996-97

[3 rows x 65 columns]
Pandas(Index=19, PLAYER_ID=763, PLAYER_NAME='Tony Massenburg')
  GROUP_SET GROUP_VALUE     TEAM_ID TEAM_ABBREVIATION        MAX_GAME_DATE  \
8   By Year     1996-97  1610612751               NJN  1997-04-20T00:00:00

   GP   W   L  W_PCT   MIN  ...  BLKA_RANK  PF_RANK  PFD_RANK  PTS_RANK  \
8  79  26  53  0.329  24.7  ...          3        1         4         2

   PLUS_MINUS_RANK  NBA_FANTASY_PTS_RANK  DD2_RANK  TD3_RANK  CFID  CFPARAMS
8                6                     2         1         1   264   1996-97

[1 rows x 65 columns]
Pandas(Index=21, PLAYER_ID=1365, PLAYER_NAME='Xavier McDaniel')
  GROUP_SET GROUP_VALUE     TEAM_ID TEAM_ABBREVIATION        MAX_GAME_DATE  \
1   By Year     1996-97  1610612751               NJN  1997-04-20T00:00:00

   GP   W   L  W_PCT   MIN  ...  BLKA_RANK  PF_RANK  PFD_RANK  PTS_RANK  \
1  62  19  43  0.306  18.9  ...          1        1         2         1

   PLUS_MINUS_RANK  NBA_FANTASY_PTS_RANK  DD2_RANK  TD3_RANK  CFID  CFPARAMS
1                1                     1         1         1   264   1996-97

[1 rows x 65 columns]
Pandas(Index=0, PLAYER_ID=275, PLAYER_NAME='Allan Houston')
  GROUP_SET GROUP_VALUE     TEAM_ID TEAM_ABBREVIATION        MAX_GAME_DATE  \
8   By Year     1996-97  1610612752               NYK  1997-04-19T00:00:00

   GP   W   L  W_PCT   MIN  ...  BLKA_RANK  PF_RANK  PFD_RANK  PTS_RANK  \
8  81  56  25  0.691  33.1  ...          8        1         2         8

   PLUS_MINUS_RANK  NBA_FANTASY_PTS_RANK  DD2_RANK  TD3_RANK  CFID  CFPARAMS
8                4                     8         3         1   264   1996-97

[1 rows x 65 columns]
Pandas(Index=1, PLAYER_ID=433, PLAYER_NAME='Buck Williams')
  GROUP_SET GROUP_VALUE     TEAM_ID TEAM_ABBREVIATION        MAX_GAME_DATE  \
1   By Year     1996-97  1610612752               NYK  1997-04-19T00:00:00

   GP   W   L  W_PCT   MIN  ...  BLKA_RANK  PF_RANK  PFD_RANK  PTS_RANK  \
1  74  53  21  0.716  20.3  ...          1        1         1         1

   PLUS_MINUS_RANK  NBA_FANTASY_PTS_RANK  DD2_RANK  TD3_RANK  CFID  CFPARAMS
1                1                     1         1         1   264   1996-97

[1 rows x 65 columns]
Pandas(Index=2, PLAYER_ID=891, PLAYER_NAME='Charles Oakley')
  GROUP_SET GROUP_VALUE     TEAM_ID TEAM_ABBREVIATION        MAX_GAME_DATE  \
7   By Year     1996-97  1610612752               NYK  1997-04-19T00:00:00

   GP   W   L  W_PCT   MIN  ...  BLKA_RANK  PF_RANK  PFD_RANK  PTS_RANK  \
7  80  55  25  0.688  35.9  ...          1        1         4         1

   PLUS_MINUS_RANK  NBA_FANTASY_PTS_RANK  DD2_RANK  TD3_RANK  CFID  CFPARAMS
7                3                     1         1         2   264   1996-97

[1 rows x 65 columns]
Pandas(Index=3, PLAYER_ID=369, PLAYER_NAME='Charlie Ward')
   GROUP_SET GROUP_VALUE     TEAM_ID TEAM_ABBREVIATION        MAX_GAME_DATE  \
10   By Year     1996-97  1610612752               NYK  1997-04-19T00:00:00

    GP   W   L  W_PCT   MIN  ...  BLKA_RANK  PF_RANK  PFD_RANK  PTS_RANK  \
10  79  56  23  0.709  22.3  ...          5        2         2         8

    PLUS_MINUS_RANK  NBA_FANTASY_PTS_RANK  DD2_RANK  TD3_RANK  CFID  CFPARAMS
10                5                     7         2         1   264   1996-97

[1 rows x 65 columns]
Pandas(Index=4, PLAYER_ID=164, PLAYER_NAME='Chris Childs')
  GROUP_SET GROUP_VALUE     TEAM_ID TEAM_ABBREVIATION        MAX_GAME_DATE  \
8   By Year     1996-97  1610612752               NYK  1997-04-19T00:00:00

   GP   W   L  W_PCT   MIN  ...  BLKA_RANK  PF_RANK  PFD_RANK  PTS_RANK  \
8  65  42  23  0.646  31.9  ...          2        2         4         1

   PLUS_MINUS_RANK  NBA_FANTASY_PTS_RANK  DD2_RANK  TD3_RANK  CFID  CFPARAMS
8                1                     1         1         1   264   1996-97

[1 rows x 65 columns]
Pandas(Index=7, PLAYER_ID=317, PLAYER_NAME='John Starks')
  GROUP_SET GROUP_VALUE     TEAM_ID TEAM_ABBREVIATION        MAX_GAME_DATE  \
7   By Year     1996-97  1610612752               NYK  1997-04-19T00:00:00

   GP   W   L  W_PCT   MIN  ...  BLKA_RANK  PF_RANK  PFD_RANK  PTS_RANK  \
7  77  55  22  0.714  26.6  ...          2        4         5         3

   PLUS_MINUS_RANK  NBA_FANTASY_PTS_RANK  DD2_RANK  TD3_RANK  CFID  CFPARAMS
7                1                     3         3         1   264   1996-97

[1 rows x 65 columns]
Pandas(Index=9, PLAYER_ID=913, PLAYER_NAME='Larry Johnson')
  GROUP_SET GROUP_VALUE     TEAM_ID TEAM_ABBREVIATION        MAX_GAME_DATE  \
4   By Year     1996-97  1610612752               NYK  1997-04-19T00:00:00

   GP   W   L  W_PCT   MIN  ...  BLKA_RANK  PF_RANK  PFD_RANK  PTS_RANK  \
4  76  52  24  0.684  34.4  ...          2        1         3         2

   PLUS_MINUS_RANK  NBA_FANTASY_PTS_RANK  DD2_RANK  TD3_RANK  CFID  CFPARAMS
4                2                     2         2         1   264   1996-97

[1 rows x 65 columns]
Pandas(Index=10, PLAYER_ID=121, PLAYER_NAME='Patrick Ewing')
  GROUP_SET GROUP_VALUE     TEAM_ID TEAM_ABBREVIATION        MAX_GAME_DATE  \
5   By Year     1996-97  1610612752               NYK  1997-04-19T00:00:00

   GP   W   L  W_PCT   MIN  ...  BLKA_RANK  PF_RANK  PFD_RANK  PTS_RANK  \
5  78  54  24  0.692  37.0  ...          4        1         2         1

   PLUS_MINUS_RANK  NBA_FANTASY_PTS_RANK  DD2_RANK  TD3_RANK  CFID  CFPARAMS
5                1                     1         1         1   264   1996-97

[1 rows x 65 columns]
Pandas(Index=1, PLAYER_ID=358, PLAYER_NAME='Anfernee Hardaway')
   GROUP_SET GROUP_VALUE     TEAM_ID TEAM_ABBREVIATION        MAX_GAME_DATE  \
12   By Year     1996-97  1610612753               ORL  1997-04-19T00:00:00

    GP   W   L  W_PCT   MIN  ...  BLKA_RANK  PF_RANK  PFD_RANK  PTS_RANK  \
12  59  38  21  0.644  37.7  ...          1        7         4         1

    PLUS_MINUS_RANK  NBA_FANTASY_PTS_RANK  DD2_RANK  TD3_RANK  CFID  CFPARAMS
12                2                     1         5         4   264   1996-97

[1 rows x 65 columns]
Pandas(Index=3, PLAYER_ID=216, PLAYER_NAME='Brian Shaw')
  GROUP_SET GROUP_VALUE     TEAM_ID TEAM_ABBREVIATION        MAX_GAME_DATE  \
8   By Year     1996-97  1610612753               ORL  1997-04-19T00:00:00

   GP   W   L  W_PCT   MIN  ...  BLKA_RANK  PF_RANK  PFD_RANK  PTS_RANK  \
8  77  41  36  0.532  24.3  ...          2        2         2         1

   PLUS_MINUS_RANK  NBA_FANTASY_PTS_RANK  DD2_RANK  TD3_RANK  CFID  CFPARAMS
8                7                     3         1         1   264   1996-97

[1 rows x 65 columns]
Pandas(Index=5, PLAYER_ID=353, PLAYER_NAME='Darrell Armstrong')

   GROUP_SET GROUP_VALUE     TEAM_ID TEAM_ABBREVIATION        MAX_GAME_DATE  \
13   By Year     1996-97  1610612753               ORL  1997-04-19T00:00:00

    GP   W   L  W_PCT   MIN  ...  BLKA_RANK  PF_RANK  PFD_RANK  PTS_RANK  \
13  67  34  33  0.507  15.1  ...          6        8         6         9

    PLUS_MINUS_RANK  NBA_FANTASY_PTS_RANK  DD2_RANK  TD3_RANK  CFID  CFPARAMS
13                7                     9         6         1   264   1996-97

[1 rows x 65 columns]
Pandas(Index=8, PLAYER_ID=192, PLAYER_NAME='Dennis Scott')
  GROUP_SET GROUP_VALUE     TEAM_ID TEAM_ABBREVIATION        MAX_GAME_DATE  \
7   By Year     1996-97  1610612753               ORL  1997-04-19T00:00:00

   GP   W   L  W_PCT   MIN  ...  BLKA_RANK  PF_RANK  PFD_RANK  PTS_RANK  \
7  66  38  28  0.576  32.8  ...          2        2         2         2

   PLUS_MINUS_RANK  NBA_FANTASY_PTS_RANK  DD2_RANK  TD3_RANK  CFID  CFPARAMS
7                3                     2         1         1   264   1996-97

[1 rows x 65 columns]
Pandas(Index=9, PLAYER_ID=400, PLAYER_NAME='Derek Strong')
  GROUP_SET GROUP_VALUE     TEAM_ID TEAM_ABBREVIATION        MAX_GAME_DATE  \
4   By Year     1996-97  1610612753               ORL  1997-04-19T00:00:00

   GP   W   L  W_PCT   MIN  ...  BLKA_RANK  PF_RANK  PFD_RANK  PTS_RANK  \
4  82  45  37  0.549  24.5  ...          2        1         3         2

   PLUS_MINUS_RANK  NBA_FANTASY_PTS_RANK  DD2_RANK  TD3_RANK  CFID  CFPARAMS
4                3                     2         2         1   264   1996-97

[1 rows x 65 columns]
Pandas(Index=12, PLAYER_ID=786, PLAYER_NAME='Gerald Wilkins')
  GROUP_SET GROUP_VALUE     TEAM_ID TEAM_ABBREVIATION        MAX_GAME_DATE  \
2   By Year     1996-97  1610612753               ORL  1997-04-19T00:00:00

   GP   W   L  W_PCT   MIN  ...  BLKA_RANK  PF_RANK  PFD_RANK  PTS_RANK  \
2  80  44  36   0.55  27.6  ...          1        1         1         1

   PLUS_MINUS_RANK  NBA_FANTASY_PTS_RANK  DD2_RANK  TD3_RANK  CFID  CFPARAMS
2                3                     1         1         1   264   1996-97

[1 rows x 65 columns]
Pandas(Index=13, PLAYER_ID=270, PLAYER_NAME='Horace Grant')
  GROUP_SET GROUP_VALUE     TEAM_ID TEAM_ABBREVIATION        MAX_GAME_DATE  \
7   By Year     1996-97  1610612753               ORL  1997-04-18T00:00:00

   GP   W   L  W_PCT   MIN  ...  BLKA_RANK  PF_RANK  PFD_RANK  PTS_RANK  \
7  67  35  32  0.522  37.2  ...          4        4         5         1

   PLUS_MINUS_RANK  NBA_FANTASY_PTS_RANK  DD2_RANK  TD3_RANK  CFID  CFPARAMS
7                3                     1         1         1   264   1996-97

[1 rows x 65 columns]
Pandas(Index=15, PLAYER_ID=98, PLAYER_NAME='Nick Anderson')
  GROUP_SET GROUP_VALUE     TEAM_ID TEAM_ABBREVIATION        MAX_GAME_DATE  \
5   By Year     1996-97  1610612753               ORL  1997-04-19T00:00:00

   GP   W   L  W_PCT   MIN  ...  BLKA_RANK  PF_RANK  PFD_RANK  PTS_RANK  \
5  63  39  24  0.619  34.4  ...          3        1         3         3

   PLUS_MINUS_RANK  NBA_FANTASY_PTS_RANK  DD2_RANK  TD3_RANK  CFID  CFPARAMS
5                1                     3         4         1   264   1996-97

[1 rows x 65 columns]
Pandas(Index=16, PLAYER_ID=938, PLAYER_NAME='Rony Seikaly')
  GROUP_SET GROUP_VALUE     TEAM_ID TEAM_ABBREVIATION        MAX_GAME_DATE  \
4   By Year     1996-97  1610612753               ORL  1997-04-18T00:00:00

   GP   W   L  W_PCT   MIN  ...  BLKA_RANK  PF_RANK  PFD_RANK  PTS_RANK  \
4  74  41  33  0.554  35.3  ...          1        1         1         1

   PLUS_MINUS_RANK  NBA_FANTASY_PTS_RANK  DD2_RANK  TD3_RANK  CFID  CFPARAMS
4                1                     1         1         1   264   1996-97

[1 rows x 65 columns]
Pandas(Index=1, PLAYER_ID=947, PLAYER_NAME='Allen Iverson')
   GROUP_SET GROUP_VALUE     TEAM_ID TEAM_ABBREVIATION        MAX_GAME_DATE  \
19   By Year     1996-97  1610612755               PHI  1997-04-19T00:00:00

    GP   W   L  W_PCT   MIN  ...  BLKA_RANK  PF_RANK  PFD_RANK  PTS_RANK  \
19  76  20  56  0.263  40.0  ...          5        1        12        12

    PLUS_MINUS_RANK  NBA_FANTASY_PTS_RANK  DD2_RANK  TD3_RANK  CFID  CFPARAMS
19               16                    11         2         2   264   1996-97

[1 rows x 65 columns]
Pandas(Index=2, PLAYER_ID=221, PLAYER_NAME='Clar. Weatherspoon')
   GROUP_SET GROUP_VALUE     TEAM_ID TEAM_ABBREVIATION        MAX_GAME_DATE  \
12   By Year     1996-97  1610612755               PHI  1997-04-19T00:00:00

    GP   W   L  W_PCT   MIN  ...  BLKA_RANK  PF_RANK  PFD_RANK  PTS_RANK  \
12  82  22  60  0.268  36.0  ...          3        3         5         1

    PLUS_MINUS_RANK  NBA_FANTASY_PTS_RANK  DD2_RANK  TD3_RANK  CFID  CFPARAMS
12               11                     2         2         1   264   1996-97

[1 rows x 65 columns]
Pandas(Index=3, PLAYER_ID=934, PLAYER_NAME='Derrick Coleman')
  GROUP_SET GROUP_VALUE     TEAM_ID TEAM_ABBREVIATION        MAX_GAME_DATE  \
8   By Year     1996-97  1610612755               PHI  1997-04-01T00:00:00

   GP   W   L  W_PCT   MIN  ...  BLKA_RANK  PF_RANK  PFD_RANK  PTS_RANK  \
8  57  18  39  0.316  36.8  ...          4        1         5         1

   PLUS_MINUS_RANK  NBA_FANTASY_PTS_RANK  DD2_RANK  TD3_RANK  CFID  CFPARAMS
8                8                     1         2         1   264   1996-97

[1 rows x 65 columns]
Pandas(Index=7, PLAYER_ID=711, PLAYER_NAME='Jerry Stackhouse')
   GROUP_SET GROUP_VALUE     TEAM_ID TEAM_ABBREVIATION        MAX_GAME_DATE  \
18   By Year     1996-97  1610612755               PHI  1997-04-19T00:00:00

    GP   W   L  W_PCT   MIN  ...  BLKA_RANK  PF_RANK  PFD_RANK  PTS_RANK  \
18  81  22  59  0.272  39.1  ...          3        1        10         5

    PLUS_MINUS_RANK  NBA_FANTASY_PTS_RANK  DD2_RANK  TD3_RANK  CFID  CFPARAMS
18               16                     5         6         2   264   1996-97

[1 rows x 65 columns]
Pandas(Index=9, PLAYER_ID=446, PLAYER_NAME='Lucious Harris')
  GROUP_SET GROUP_VALUE     TEAM_ID TEAM_ABBREVIATION        MAX_GAME_DATE  \
8   By Year     1996-97  1610612755               PHI  1997-04-04T00:00:00

   GP   W   L  W_PCT   MIN  ...  BLKA_RANK  PF_RANK  PFD_RANK  PTS_RANK  \
8  54  13  41  0.241  15.0  ...          8        9         2         6

   PLUS_MINUS_RANK  NBA_FANTASY_PTS_RANK  DD2_RANK  TD3_RANK  CFID  CFPARAMS
8                8                     7         4         1   264   1996-97

[1 rows x 65 columns]
Pandas(Index=11, PLAYER_ID=707, PLAYER_NAME='Mark Davis')
  GROUP_SET GROUP_VALUE     TEAM_ID TEAM_ABBREVIATION        MAX_GAME_DATE  \
3   By Year     1996-97  1610612755               PHI  1997-04-19T00:00:00

   GP   W   L  W_PCT   MIN  ...  BLKA_RANK  PF_RANK  PFD_RANK  PTS_RANK  \
3  75  20  55  0.267  22.8  ...          1        1         4         1

   PLUS_MINUS_RANK  NBA_FANTASY_PTS_RANK  DD2_RANK  TD3_RANK  CFID  CFPARAMS
3                4                     1         1         1   264   1996-97

[1 rows x 65 columns]
Pandas(Index=13, PLAYER_ID=262, PLAYER_NAME='Michael Cage')
  GROUP_SET GROUP_VALUE     TEAM_ID TEAM_ABBREVIATION        MAX_GAME_DATE  \
2   By Year     1996-97  1610612755               PHI  1997-04-19T00:00:00

   GP   W   L  W_PCT   MIN  ...  BLKA_RANK  PF_RANK  PFD_RANK  PTS_RANK  \
2  82  22  60  0.268  15.1  ...          1        2         3         1

   PLUS_MINUS_RANK  NBA_FANTASY_PTS_RANK  DD2_RANK  TD3_RANK  CFID  CFPARAMS
2                3                     1         1         1   264   1996-97

[1 rows x 65 columns]
Pandas(Index=14, PLAYER_ID=777, PLAYER_NAME='Rex Walters')
  GROUP_SET GROUP_VALUE     TEAM_ID TEAM_ABBREVIATION        MAX_GAME_DATE  \
5   By Year     1996-97  1610612755               PHI  1997-03-30T00:00:00

   GP   W   L  W_PCT   MIN  ...  BLKA_RANK  PF_RANK  PFD_RANK  PTS_RANK  \
5  59  18  41  0.305  17.7  ...          2        3         2         1

   PLUS_MINUS_RANK  NBA_FANTASY_PTS_RANK  DD2_RANK  TD3_RANK  CFID  CFPARAMS
5                5                     1         1         1   264   1996-97

[1 rows x 65 columns]
Pandas(Index=15, PLAYER_ID=281, PLAYER_NAME='Scott Williams')

   GROUP_SET GROUP_VALUE     TEAM_ID TEAM_ABBREVIATION        MAX_GAME_DATE  \
12   By Year     1996-97  1610612755               PHI  1997-04-05T00:00:00

    GP   W   L  W_PCT   MIN  ...  BLKA_RANK  PF_RANK  PFD_RANK  PTS_RANK  \
12  62  18  44   0.29  21.3  ...          2        2         5         4

    PLUS_MINUS_RANK  NBA_FANTASY_PTS_RANK  DD2_RANK  TD3_RANK  CFID  CFPARAMS
12                9                     2         2         1   264   1996-97

[1 rows x 65 columns]
Pandas(Index=2, PLAYER_ID=76, PLAYER_NAME='Cedric Ceballos')
   GROUP_SET GROUP_VALUE     TEAM_ID TEAM_ABBREVIATION        MAX_GAME_DATE  \
8    By Year     1996-97          -1               TOT  1997-04-19T00:00:00
9    By Year     1996-97  1610612756               PHX  1997-04-19T00:00:00
10   By Year     1996-97  1610612747               LAL  1996-11-13T00:00:00

    GP   W   L  W_PCT   MIN  ...  BLKA_RANK  PF_RANK  PFD_RANK  PTS_RANK  \
8   50  29  21  0.580  28.6  ...          1        1         2         1
9   42  24  18  0.571  27.4  ...          2        4         3         3
10   8   5   3  0.625  34.8  ...          3        3         3         5

    PLUS_MINUS_RANK  NBA_FANTASY_PTS_RANK  DD2_RANK  TD3_RANK  CFID  CFPARAMS
8                 1                     1         1         1   264   1996-97
9                 2                     3         2         1   264   1996-97
10                1                     4         4         1   264   1996-97

[3 rows x 65 columns]
Pandas(Index=4, PLAYER_ID=330, PLAYER_NAME='Danny Manning')
  GROUP_SET GROUP_VALUE     TEAM_ID TEAM_ABBREVIATION        MAX_GAME_DATE  \
6   By Year     1996-97  1610612756               PHX  1997-04-18T00:00:00

   GP   W   L  W_PCT   MIN  ...  BLKA_RANK  PF_RANK  PFD_RANK  PTS_RANK  \
6  77  37  40  0.481  27.8  ...          2        1         3         2

   PLUS_MINUS_RANK  NBA_FANTASY_PTS_RANK  DD2_RANK  TD3_RANK  CFID  CFPARAMS
6                3                     1         1         1   264   1996-97

[1 rows x 65 columns]
Pandas(Index=7, PLAYER_ID=73, PLAYER_NAME='Hot Rod Williams')
  GROUP_SET GROUP_VALUE     TEAM_ID TEAM_ABBREVIATION        MAX_GAME_DATE  \
2   By Year     1996-97  1610612756               PHX  1997-04-19T00:00:00

   GP   W   L  W_PCT   MIN  ...  BLKA_RANK  PF_RANK  PFD_RANK  PTS_RANK  \
2  68  40  28  0.588  31.4  ...          1        1         2         1

   PLUS_MINUS_RANK  NBA_FANTASY_PTS_RANK  DD2_RANK  TD3_RANK  CFID  CFPARAMS
2                2                     1         1         1   264   1996-97

[1 rows x 65 columns]
Pandas(Index=8, PLAYER_ID=467, PLAYER_NAME='Jason Kidd')
   GROUP_SET GROUP_VALUE     TEAM_ID TEAM_ABBREVIATION        MAX_GAME_DATE  \
18   By Year     1996-97          -1               TOT  1997-04-19T00:00:00
19   By Year     1996-97  1610612756               PHX  1997-04-19T00:00:00
20   By Year     1996-97  1610612742               DAL  1996-12-17T00:00:00

    GP   W   L  W_PCT   MIN  ...  BLKA_RANK  PF_RANK  PFD_RANK  PTS_RANK  \
18  55  31  24  0.564  35.7  ...          1        1         2         1
19  33  23  10  0.697  35.5  ...          4        4        11        11
20  22   8  14  0.364  36.0  ...          4        8        11        15

    PLUS_MINUS_RANK  NBA_FANTASY_PTS_RANK  DD2_RANK  TD3_RANK  CFID  CFPARAMS
18                1                     2         2         2   264   1996-97
19                3                    11        14        13   264   1996-97
20               19                    16        17        17   264   1996-97

[3 rows x 65 columns]
Pandas(Index=10, PLAYER_ID=134, PLAYER_NAME='Kevin Johnson')
  GROUP_SET GROUP_VALUE     TEAM_ID TEAM_ABBREVIATION        MAX_GAME_DATE  \
2   By Year     1996-97  1610612756               PHX  1997-04-19T00:00:00

   GP   W   L  W_PCT   MIN  ...  BLKA_RANK  PF_RANK  PFD_RANK  PTS_RANK  \
2  70  39  31  0.557  37.9  ...          1        1         1         1

   PLUS_MINUS_RANK  NBA_FANTASY_PTS_RANK  DD2_RANK  TD3_RANK  CFID  CFPARAMS
2                3                     1         1         1   264   1996-97

[1 rows x 65 columns]
Pandas(Index=12, PLAYER_ID=95, PLAYER_NAME='Mark Bryant')
  GROUP_SET GROUP_VALUE     TEAM_ID TEAM_ABBREVIATION        MAX_GAME_DATE  \
9   By Year     1996-97  1610612756               PHX  1997-03-15T00:00:00

   GP   W   L  W_PCT   MIN  ...  BLKA_RANK  PF_RANK  PFD_RANK  PTS_RANK  \
9  41  19  22  0.463  24.8  ...          2        2         4         1

   PLUS_MINUS_RANK  NBA_FANTASY_PTS_RANK  DD2_RANK  TD3_RANK  CFID  CFPARAMS
9                2                     2         1         1   264   1996-97

[1 rows x 65 columns]
Pandas(Index=15, PLAYER_ID=364, PLAYER_NAME='Rex Chapman')
  GROUP_SET GROUP_VALUE     TEAM_ID TEAM_ABBREVIATION        MAX_GAME_DATE  \
3   By Year     1996-97  1610612756               PHX  1997-04-19T00:00:00

   GP   W   L  W_PCT   MIN  ...  BLKA_RANK  PF_RANK  PFD_RANK  PTS_RANK  \
3  65  31  34  0.477  28.3  ...          2        1         3         2

   PLUS_MINUS_RANK  NBA_FANTASY_PTS_RANK  DD2_RANK  TD3_RANK  CFID  CFPARAMS
3                3                     2         1         1   264   1996-97

[1 rows x 65 columns]
Pandas(Index=22, PLAYER_ID=445, PLAYER_NAME='Wesley Person')
   GROUP_SET GROUP_VALUE     TEAM_ID TEAM_ABBREVIATION        MAX_GAME_DATE  \
13   By Year     1996-97  1610612756               PHX  1997-04-19T00:00:00

    GP   W   L  W_PCT   MIN  ...  BLKA_RANK  PF_RANK  PFD_RANK  PTS_RANK  \
13  80  39  41  0.488  29.1  ...          1        4         2         3

    PLUS_MINUS_RANK  NBA_FANTASY_PTS_RANK  DD2_RANK  TD3_RANK  CFID  CFPARAMS
13                2                     3         1         1   264   1996-97

[1 rows x 65 columns]
Pandas(Index=2, PLAYER_ID=717, PLAYER_NAME='Arvydas Sabonis')
  GROUP_SET GROUP_VALUE     TEAM_ID TEAM_ABBREVIATION        MAX_GAME_DATE  \
5   By Year     1996-97  1610612757               POR  1997-04-20T00:00:00

   GP   W   L  W_PCT   MIN  ...  BLKA_RANK  PF_RANK  PFD_RANK  PTS_RANK  \
5  69  43  26  0.623  25.5  ...          3        2         3         2

   PLUS_MINUS_RANK  NBA_FANTASY_PTS_RANK  DD2_RANK  TD3_RANK  CFID  CFPARAMS
5                1                     2         3         1   264   1996-97

[1 rows x 65 columns]
Pandas(Index=3, PLAYER_ID=201, PLAYER_NAME='Chris Dudley')
  GROUP_SET GROUP_VALUE     TEAM_ID TEAM_ABBREVIATION        MAX_GAME_DATE  \
6   By Year     1996-97  1610612757               POR  1997-04-20T00:00:00

   GP   W   L  W_PCT   MIN  ...  BLKA_RANK  PF_RANK  PFD_RANK  PTS_RANK  \
6  81  48  33  0.593  22.7  ...          2        1         2         1

   PLUS_MINUS_RANK  NBA_FANTASY_PTS_RANK  DD2_RANK  TD3_RANK  CFID  CFPARAMS
6                5                     1         1         1   264   1996-97

[1 rows x 65 columns]
Pandas(Index=4, PLAYER_ID=361, PLAYER_NAME='Clifford Robinson')
   GROUP_SET GROUP_VALUE     TEAM_ID TEAM_ABBREVIATION        MAX_GAME_DATE  \
12   By Year     1996-97  1610612757               POR  1997-04-20T00:00:00

    GP   W   L  W_PCT   MIN  ...  BLKA_RANK  PF_RANK  PFD_RANK  PTS_RANK  \
12  81  48  33  0.593  38.0  ...          2        4         6         4

    PLUS_MINUS_RANK  NBA_FANTASY_PTS_RANK  DD2_RANK  TD3_RANK  CFID  CFPARAMS
12                1                     5         5         1   264   1996-97

[1 rows x 65 columns]
Pandas(Index=7, PLAYER_ID=718, PLAYER_NAME='Gary Trent')
  GROUP_SET GROUP_VALUE     TEAM_ID TEAM_ABBREVIATION        MAX_GAME_DATE  \
9   By Year     1996-97  1610612757               POR  1997-04-20T00:00:00

   GP   W   L  W_PCT   MIN  ...  BLKA_RANK  PF_RANK  PFD_RANK  PTS_RANK  \
9  82  49  33  0.598  23.4  ...          5        6         6         5

   PLUS_MINUS_RANK  NBA_FANTASY_PTS_RANK  DD2_RANK  TD3_RANK  CFID  CFPARAMS
9                1                     5         2         1   264   1996-97

[1 rows x 65 columns]
Pandas(Index=8, PLAYER_ID=375, PLAYER_NAME='Isaiah Rider')
  GROUP_SET GROUP_VALUE     TEAM_ID TEAM_ABBREVIATION        MAX_GAME_DATE  \
5   By Year     1996-97  1610612757               POR  1997-04-20T00:00:00

   GP   W   L  W_PCT   MIN  ...  BLKA_RANK  PF_RANK  PFD_RANK  PTS_RANK  \
5  76  44  32  0.579  33.8  ...          1        1         3         3

   PLUS_MINUS_RANK  NBA_FANTASY_PTS_RANK  DD2_RANK  TD3_RANK  CFID  CFPARAMS
5                1                     3         2         1   264   1996-97

[1 rows x 65 columns]
Pandas(Index=10, PLAYER_ID=72, PLAYER_NAME='Kenny Anderson')

   GROUP_SET GROUP_VALUE     TEAM_ID TEAM_ABBREVIATION        MAX_GAME_DATE  \
14   By Year     1996-97  1610612757               POR  1997-04-20T00:00:00

    GP   W   L  W_PCT   MIN  ...  BLKA_RANK  PF_RANK  PFD_RANK  PTS_RANK  \
14  82  49  33  0.598  37.6  ...          1        3         3         1

    PLUS_MINUS_RANK  NBA_FANTASY_PTS_RANK  DD2_RANK  TD3_RANK  CFID  CFPARAMS
14                1                     1         1         1   264   1996-97

[1 rows x 65 columns]
Pandas(Index=14, PLAYER_ID=739, PLAYER_NAME='Rasheed Wallace')
   GROUP_SET GROUP_VALUE     TEAM_ID TEAM_ABBREVIATION        MAX_GAME_DATE  \
17   By Year     1996-97  1610612757               POR  1997-04-20T00:00:00

    GP   W   L  W_PCT   MIN  ...  BLKA_RANK  PF_RANK  PFD_RANK  PTS_RANK  \
17  62  37  25  0.597  30.6  ...          6        3         8         7

    PLUS_MINUS_RANK  NBA_FANTASY_PTS_RANK  DD2_RANK  TD3_RANK  CFID  CFPARAMS
17                6                    14         9         1   264   1996-97

[1 rows x 65 columns]
Pandas(Index=1, PLAYER_ID=182, PLAYER_NAME='Billy Owens')
  GROUP_SET GROUP_VALUE     TEAM_ID TEAM_ABBREVIATION        MAX_GAME_DATE  \
6   By Year     1996-97  1610612758               SAC  1997-04-19T00:00:00

   GP   W   L  W_PCT   MIN  ...  BLKA_RANK  PF_RANK  PFD_RANK  PTS_RANK  \
6  66  26  40  0.394  30.0  ...          2        3         4         1

   PLUS_MINUS_RANK  NBA_FANTASY_PTS_RANK  DD2_RANK  TD3_RANK  CFID  CFPARAMS
6                4                     2         2         1   264   1996-97

[1 rows x 65 columns]
Pandas(Index=4, PLAYER_ID=722, PLAYER_NAME='Corliss Williamson')
   GROUP_SET GROUP_VALUE     TEAM_ID TEAM_ABBREVIATION        MAX_GAME_DATE  \
14   By Year     1996-97  1610612758               SAC  1997-04-20T00:00:00

    GP   W   L  W_PCT   MIN  ...  BLKA_RANK  PF_RANK  PFD_RANK  PTS_RANK  \
14  79  32  47  0.405  25.1  ...          7        1         4         6

    PLUS_MINUS_RANK  NBA_FANTASY_PTS_RANK  DD2_RANK  TD3_RANK  CFID  CFPARAMS
14               12                     4         2         1   264   1996-97

[1 rows x 65 columns]
Pandas(Index=8, PLAYER_ID=333, PLAYER_NAME='Kevin Gamble')
  GROUP_SET GROUP_VALUE     TEAM_ID TEAM_ABBREVIATION        MAX_GAME_DATE  \
0   By Year     1996-97  1610612758               SAC  1997-04-10T00:00:00

   GP   W   L  W_PCT   MIN  ...  BLKA_RANK  PF_RANK  PFD_RANK  PTS_RANK  \
0  62  26  36  0.419  15.2  ...          1        1         1         1

   PLUS_MINUS_RANK  NBA_FANTASY_PTS_RANK  DD2_RANK  TD3_RANK  CFID  CFPARAMS
0                1                     1         1         1   264   1996-97

[1 rows x 65 columns]
Pandas(Index=12, PLAYER_ID=51, PLAYER_NAME='Mahmoud Abdul-Rauf')

In [52]:
print(len(data))
big_data = pd.concat(data)

,PLAYER_NAME,GROUP_SET,GROUP_VALUE,TEAM_ID,TEAM_ABBREVIATION,MAX_GAME_DATE,GP,W,L,W_PCT,...,BLKA_RANK,PF_RANK,PFD_RANK,PTS_RANK,PLUS_MINUS_RANK,NBA_FANTASY_PTS_RANK,DD2_RANK,TD3_RANK,CFID,CFPARAMS
8,Anthony Miller,By Year,1996-97,1610612737,ATL,1996-11-16T00:00:00,1,0,1,0.0,...,1,1,3,6,8,2,2,1,264,1996-97

In [36]:
from nba_api.stats.static import players
mj = players.find_players_by_full_name('Michael Jordan')
mj_id = mj[0]['id']
#get_player_stats(202696, 2018)
players.find_player_by_id(202696)

{'id': 202696,
 'full_name': 'Nikola Vucevic',
 'first_name': 'Nikola',
 'last_name': 'Vucevic',
 'is_active': True}